In [173]:
%logstop
%logstart -rtq ~/.logs/dw.py append
import seaborn as sns
sns.set()

In [3]:
from static_grader import grader

# DW Miniproject
## Introduction

The objective of this miniproject is to exercise your ability to wrangle tabular data set and aggregate large data sets into meaningful summary statistics. We'll work with the same medical data used in the `pw` miniproject but leverage the power of Pandas to more efficiently represent and act on our data.

## Downloading the data

We first need to download the data we'll be using from Amazon S3:

In [4]:
!mkdir dw-data
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/201701scripts_sample.csv.gz -nc -P ./dw-data/
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/201606scripts_sample.csv.gz -nc -P ./dw-data/
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/practices.csv.gz -nc -P ./dw-data/
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/chem.csv.gz -nc -P ./dw-data/

mkdir: cannot create directory ‘dw-data’: File exists
File ‘./dw-data/201701scripts_sample.csv.gz’ already there; not retrieving.

File ‘./dw-data/201606scripts_sample.csv.gz’ already there; not retrieving.

File ‘./dw-data/practices.csv.gz’ already there; not retrieving.

File ‘./dw-data/chem.csv.gz’ already there; not retrieving.

## Loading the data

Similar to the `pw` miniproject, the first step is to read in the data. The data files are stored as compressed CSV files. You can load the data into a pandas `DataFrame` by making use of the `pd.read_csv` function to parse the data into a `DataFrame`. You may want to check the pandas documentation for parsing [CSV](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) files for reference.

For a description of the data set please, refer to the [`pw` miniproject](./pw.ipynb). **Note that all questions make use of the 2017 data only, except for Question 5 which makes use of both the 2017 and 2016 data.**

In [5]:
import pandas as pd
import numpy as np

In [6]:
# load the 2017 data
scripts = pd.read_csv('dw-data/201701scripts_sample.csv.gz')
scripts.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6

In [7]:
col_names=[ 'code', 'name', 'addr_1', 'addr_2', 'borough', 'village', 'post_code']
practices = pd.read_csv('dw-data/practices.csv.gz', names=col_names, header=None)
practices.head()

,code,name,addr_1,addr_2,borough,village,post_code
0,A81001,THE DENSHAM SURGERY,THE HEALTH CENTRE,LAWSON STREET,STOCKTON ON TEES,CLEVELAND,TS18 1HU
1,A81002,QUEENS PARK MEDICAL CENTRE,QUEENS PARK MEDICAL CTR,FARRER STREET,STOCKTON ON TEES,CLEVELAND,TS18 2AW
2,A81003,VICTORIA MEDICAL PRACTICE,THE HEALTH CENTRE,VICTORIA ROAD,HARTLEPOOL,CLEVELAND,TS26 8DB
3,A81004,WOODLANDS ROAD SURGERY,6 WOODLANDS ROAD,NaN,MIDDLESBROUGH,CLEVELAND,TS1 3BE
4,A81005,SPRINGWOOD SURGERY,SPRINGWOOD SURGERY,RECTORY LANE,GUISBOROUGH,NaN,TS14 7DJ

In [8]:
chem = pd.read_csv('dw-data/chem.csv.gz')
chem.head()

    CHEM SUB                                NAME
0  0101010A0                     Alexitol Sodium
1  0101010B0                          Almasilate
2  0101010C0                 Aluminium Hydroxide
3  0101010D0  Aluminium Hydroxide With Magnesium
4  0101010E0                        Hydrotalcite

In [9]:
chem = pd.read_csv('dw-data/chem.csv.gz')
chem.tail()

       CHEM SUB                  NAME
3482  0102000AK           Eluxadoline
3483  0405010T0  Naltrexone/Bupropion
3484  0605010AF     Follitropin Delta
3485  0406000AH            Rolapitant
3486  0908010AQ            Migalastat

Now that we've loaded in the data, let's first replicate our results from the `pw` miniproject. Note that we are now working with a larger data set so the answers will be different than in the `pw` miniproject even if the analysis is the same.

## Question 1: summary_statistics

In the `pw` miniproject we first calculated the total, mean, standard deviation, and quartile statistics of the `'items'`, `'quantity'`', `'nic'`, and `'act_cost'` fields. To do this we had to write some functions to calculate the statistics and apply the functions to our data structure. The DataFrame has a `describe` method that will calculate most (not all) of these things for us.

Submit the summary statistics to the grader as a list of tuples: `[('act_cost', (total, mean, std, q25, median, q75)), ...]`

In [10]:
fields = ['items','nic','act_cost','quantity']
scripts[fields].describe().loc[['mean', 'std','25%', '50%', '75%']].T #add .T to transpose
#count shows us the total number of rows

                mean          std    25%     50%     75%
items       9.133136    29.204198   1.00    2.00    6.00
nic        73.058915   188.070257   7.80   22.64   65.00
act_cost   67.986613   174.401703   7.33   21.22   60.67
quantity  741.329835  3665.426958  28.00  100.00  350.00

In [11]:
scripts[fields].sum() #computes the sum of each these columns

items       8.888304e+06
nic         7.110042e+07
act_cost    6.616410e+07
quantity    7.214570e+08
dtype: float64

In [12]:
scripts[fields].sum().index #to get the index or column.

Index(['items', 'nic', 'act_cost', 'quantity'], dtype='object')

In [13]:
scripts[['act_cost','quantity']].sum() #computes the sum of each these columns

act_cost    6.616410e+07
quantity    7.214570e+08
dtype: float64

In [14]:
#create new data frame ; total, mean, std, 25%, 50%, 75% quartile
summary = pd.concat([scripts[fields].sum() ,scripts[fields].describe().loc[['mean', 'std','25%', '50%', '75%']].T], axis = 1)

In [15]:
summary

                     0        mean          std    25%     50%     75%
items     8.888304e+06    9.133136    29.204198   1.00    2.00    6.00
nic       7.110042e+07   73.058915   188.070257   7.80   22.64   65.00
act_cost  6.616410e+07   67.986613   174.401703   7.33   21.22   60.67
quantity  7.214570e+08  741.329835  3665.426958  28.00  100.00  350.00

In [16]:
summary.columns = ['total','mean', 'std','25%', '50%', '75%']

In [17]:
summary

                 total        mean          std    25%     50%     75%
items     8.888304e+06    9.133136    29.204198   1.00    2.00    6.00
nic       7.110042e+07   73.058915   188.070257   7.80   22.64   65.00
act_cost  6.616410e+07   67.986613   174.401703   7.33   21.22   60.67
quantity  7.214570e+08  741.329835  3665.426958  28.00  100.00  350.00

In [18]:
for i in summary.itertuples():
    print (i[0], i[1:])

items (8888304.0, 9.133135976111625, 29.204198282803603, 1.0, 2.0, 6.0)
nic (71100424.84000002, 73.05891517920908, 188.070256906825, 7.8, 22.64, 65.0)
act_cost (66164096.11999999, 67.98661326170655, 174.40170332301963, 7.33, 21.22, 60.67)
quantity (721457006.0, 741.3298348837282, 3665.426958467915, 28.0, 100.0, 350.0)

In [19]:
summary_stats = [(i[0], i[1:] )for i in summary.itertuples()]

In [20]:
summary_stats

[('items', (8888304.0, 9.133135976111625, 29.204198282803603, 1.0, 2.0, 6.0)),
 ('nic',
  (71100424.84000002, 73.05891517920908, 188.070256906825, 7.8, 22.64, 65.0)),
 ('act_cost',
  (66164096.11999999,
   67.98661326170655,
   174.40170332301963,
   7.33,
   21.22,
   60.67)),
 ('quantity',
  (721457006.0, 741.3298348837282, 3665.426958467915, 28.0, 100.0, 350.0))]

In [21]:
# summary_stats = [('items', (0,) * 6), ('quantity', (0,) * 6), ('nic', (0,) * 6), ('act_cost', (0,) * 6)]

In [22]:
grader.score.dw__summary_statistics(summary_stats)

==================
Your score: 1.000
==================

## Question 2: most_common_item

We can also easily compute summary statistics on groups within the data. In the `pw` miniproject we had to explicitly construct the groups based on the values of a particular field. Pandas will handle that for us via the `groupby` method. This process is [detailed in the Pandas documentation](https://pandas.pydata.org/pandas-docs/stable/groupby.html).

Use `groupby` to calculate the total number of items dispensed for each `'bnf_name'`. Find the item with the highest total and return the result as `[(bnf_name, total)]`.

In [23]:
group_bnf = scripts.groupby('bnf_name')

In [24]:
type(group_bnf)

pandas.core.groupby.generic.DataFrameGroupBy

In [25]:
scripts.loc[group_bnf.groups['A2A Spacer']]

       practice   bnf_code    bnf_name  items     nic  act_cost  quantity
88619    A81037  210102301  A2A Spacer      2    8.30      7.71         2
127274   P83603  210102301  A2A Spacer      2    8.30      7.71         2
133463   P84611  210102301  A2A Spacer      1    4.15      3.85         1
239632   P81072  210102301  A2A Spacer      1    4.15      3.85         1
260387   P81069  210102301  A2A Spacer      3   12.45     11.54         3
272065   P81215  210102301  A2A Spacer      1    4.15      3.85         1
346756   A84009  210102301  A2A Spacer      1    4.15      3.85         1
427043   C85019  210102301  A2A Spacer      1    4.15      3.85         1
428945   C85022  210102301  A2A Spacer      1    4.15      3.85         1
487232   M84012  210102301  A2A Spacer      1    4.15      3.85         1
522273   M81094  210102301  A2A Spacer      1    4.15      3.84         1
657947   K83013  210102301  A2A Spacer      7   33.20     30.81         8
660825   K83051  210102301  A2A Spacer     35  153.55    142.59        37
662024   K83076  210102301  A2A Spacer      3   12.45     11.56         3
663608   Y00234  210102301  A2A Spacer      4   16.60     15.41         4
707763   C82047  210102301  A2A Spacer     15   66.40     61.66        16
833153   G85012  210102301  A2A Spacer      1    4.15      3.85         1
851265   L84026  210102301  A2A Spacer      1    4.15      3.85         1
871681   Y03662  210102301  A2A Spacer      1    4.15      3.85         1
874636   L81043  210102301  A2A Spacer      1    8.30      7.70         2
879990   L85002  210102301  A2A Spacer      1    4.15      3.85         1
910747   G82791  210102301  A2A Spacer      1    4.15      3.85         1
916306   G82126  210102301  A2A Spacer      1    4.15      3.85         1

In [26]:
 item_totals = group_bnf.sum()['items']

In [27]:
group_bnf.sum()['items'].sort_values(ascending = False)[:1]

bnf_name
Omeprazole_Cap E/C 20mg    218583
Name: items, dtype: int64

In [28]:
max_item = item_totals.idxmax()

In [29]:
max_item

'Omeprazole_Cap E/C 20mg'

In [30]:
most_common_item = [(max_item, item_totals[max_item])]

In [31]:
most_common_item

[('Omeprazole_Cap E/C 20mg', 218583)]

In [32]:
# most_common_item = [("", 0)]

In [33]:
grader.score.dw__most_common_item(most_common_item)

==================
Your score: 1.000
==================

## Question 3: items_by_region

Now let's find the most common item by post code. The post code information is in the `practices` DataFrame, and we'll need to `merge` it into the `scripts` DataFrame. Pandas provides [extensive documentation](https://pandas.pydata.org/pandas-docs/stable/merging.html) with diagrammed examples on different methods and approaches for joining data. The `merge` method is only one of many possible options.

Return your results as a list of tuples `(post code, item name, amount dispensed as % of total)`. Sort your results ascending alphabetically by post code and take only results from the first 100 post codes.

**NOTE:** Some practices have multiple postal codes associated with them. Use the alphabetically first postal code. Note some postal codes may have multiple `'bnf_name'` with the same prescription rate for the maximum. In this case, take the alphabetically first `'bnf_name'` (as in the `pw` miniproject).

In [34]:
scripts.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6

In [35]:
practices.head()

,code,name,addr_1,addr_2,borough,village,post_code
0,A81001,THE DENSHAM SURGERY,THE HEALTH CENTRE,LAWSON STREET,STOCKTON ON TEES,CLEVELAND,TS18 1HU
1,A81002,QUEENS PARK MEDICAL CENTRE,QUEENS PARK MEDICAL CTR,FARRER STREET,STOCKTON ON TEES,CLEVELAND,TS18 2AW
2,A81003,VICTORIA MEDICAL PRACTICE,THE HEALTH CENTRE,VICTORIA ROAD,HARTLEPOOL,CLEVELAND,TS26 8DB
3,A81004,WOODLANDS ROAD SURGERY,6 WOODLANDS ROAD,NaN,MIDDLESBROUGH,CLEVELAND,TS1 3BE
4,A81005,SPRINGWOOD SURGERY,SPRINGWOOD SURGERY,RECTORY LANE,GUISBOROUGH,NaN,TS14 7DJ

In [36]:
practices.sort_values('post_code').groupby('code').groups['A81001']

Int64Index([0, 9905], dtype='int64')

In [37]:
practices[ practices['code'] == 'A81001']

,code,name,addr_1,addr_2,borough,village,post_code
0,A81001,THE DENSHAM SURGERY,THE HEALTH CENTRE,LAWSON STREET,STOCKTON ON TEES,CLEVELAND,TS18 1HU
9905,A81001,THE DENSHAM SURGERY,THE HEALTH CENTRE,LAWSON STREET,STOCKTON-ON-TEES,CLEVELAND,TS18 1HU

In [38]:
unique_practices = practices.sort_values('post_code').groupby('code').first().reset_index()

In [39]:
unique_practices.head()

,code,name,addr_1,addr_2,borough,village,post_code
0,A81001,THE DENSHAM SURGERY,THE HEALTH CENTRE,LAWSON STREET,STOCKTON ON TEES,CLEVELAND,TS18 1HU
1,A81002,QUEENS PARK MEDICAL CENTRE,QUEENS PARK MEDICAL CTR,FARRER STREET,STOCKTON ON TEES,CLEVELAND,TS18 2AW
2,A81003,VICTORIA MEDICAL PRACTICE,MCKENZIE HOUSE,17 KENDAL ROAD,HARTLEPOOL,CLEVELAND,TS25 1QU
3,A81004,WOODLANDS ROAD SURGERY,6 WOODLANDS ROAD,ACKLAM,MIDDLESBROUGH,CLEVELAND,TS1 3BE
4,A81005,SPRINGWOOD SURGERY,SPRINGWOOD SURGERY,RECTORY LANE,GUISBOROUGH,NaN,TS14 7DJ

In [40]:
joined = scripts[['practice','bnf_name','items']].merge(unique_practices[['code','post_code']], how='left', left_on='practice' , right_on='code')[['bnf_name','items','post_code']]

In [41]:
joined.head()

                               bnf_name  items post_code
0                 Bisacodyl_Tab E/C 5mg      1  CH44 5UF
1      Movicol Plain_Paed Pdr Sach 6.9g      1  CH44 5UF
2    Salbutamol_Inha 100mcg (200 D) CFF      1  CH44 5UF
3  Chlorphenamine Mal_Oral Soln 2mg/5ml      1  CH44 5UF
4                      Diazepam_Tab 2mg      1  CH44 5UF

In [42]:
post_item_totals = joined.groupby(['post_code','bnf_name']).sum().reset_index()

In [43]:
post_item_totals.head()

  post_code                                  bnf_name  items
0   B11 4BW  3m Health Care_Cavilon Durable Barrier C      7
1   B11 4BW   3m Health Care_Cavilon No Sting Barrier      2
2   B11 4BW      Abasaglar KwikPen_100u/ml 3ml Pf Pen      2
3   B11 4BW                                Abidec_Dps     63
4   B11 4BW                Able Spacer + Sml/Med Mask      1

In [44]:
max_items = post_item_totals.sort_values('items', ascending=False).groupby('post_code').first()

In [45]:
max_items

                                     bnf_name  items
post_code
B11 4BW    Salbutamol_Inha 100mcg (200 D) CFF    706
B12 9LP                     Paracet_Tab 500mg    425
B18 7AL    Salbutamol_Inha 100mcg (200 D) CFF    556
B21 9RY               Metformin HCl_Tab 500mg   1033
B23 6DJ      Lansoprazole_Cap 30mg (E/C Gran)    599
...                                       ...    ...
WS3 3JP                     Paracet_Tab 500mg    789
WS9 8AJ                    Amlodipine_Tab 5mg    396
WV13 2DR   Salbutamol_Inha 100mcg (200 D) CFF    809
YO11 1UB              Omeprazole_Cap E/C 20mg    847
YO16 4LZ              Aspirin Disper_Tab 75mg   1194

[259 rows x 2 columns]

In [46]:
post_item_totals.groupby('post_code')['items'].sum()

post_code
B11 4BW     22731
B12 9LP     17073
B18 7AL     20508
B21 9RY     31027
B23 6DJ     28011
            ...
WS3 3JP     36890
WS9 8AJ     24483
WV13 2DR    36381
YO11 1UB    28507
YO16 4LZ    53847
Name: items, Length: 259, dtype: int64

In [47]:
max_items['items']

post_code
B11 4BW      706
B12 9LP      425
B18 7AL      556
B21 9RY     1033
B23 6DJ      599
            ...
WS3 3JP      789
WS9 8AJ      396
WV13 2DR     809
YO11 1UB     847
YO16 4LZ    1194
Name: items, Length: 259, dtype: int64

In [48]:
max_items['items'] = max_items['items']/ post_item_totals.groupby('post_code')['items'].sum()

In [49]:
max_items = max_items.reset_index().sort_values('post_code')

In [50]:
max_items

    post_code                            bnf_name     items
0     B11 4BW  Salbutamol_Inha 100mcg (200 D) CFF  0.031059
1     B12 9LP                   Paracet_Tab 500mg  0.024893
2     B18 7AL  Salbutamol_Inha 100mcg (200 D) CFF  0.027111
3     B21 9RY             Metformin HCl_Tab 500mg  0.033294
4     B23 6DJ    Lansoprazole_Cap 30mg (E/C Gran)  0.021384
..        ...                                 ...       ...
254   WS3 3JP                   Paracet_Tab 500mg  0.021388
255   WS9 8AJ                  Amlodipine_Tab 5mg  0.016174
256  WV13 2DR  Salbutamol_Inha 100mcg (200 D) CFF  0.022237
257  YO11 1UB             Omeprazole_Cap E/C 20mg  0.029712
258  YO16 4LZ             Aspirin Disper_Tab 75mg  0.022174

[259 rows x 3 columns]

In [51]:
[(item.post_code, item.bnf_name, item.items) for item in max_items.itertuples()]

[('B11 4BW', 'Salbutamol_Inha 100mcg (200 D) CFF', 0.031058906339360346),
 ('B12 9LP', 'Paracet_Tab 500mg', 0.02489310607391788),
 ('B18 7AL', 'Salbutamol_Inha 100mcg (200 D) CFF', 0.027111371172225472),
 ('B21 9RY', 'Metformin HCl_Tab 500mg', 0.03329358300834757),
 ('B23 6DJ', 'Lansoprazole_Cap 30mg (E/C Gran)', 0.021384456106529576),
 ('B61 0AZ', 'Omeprazole_Cap E/C 20mg', 0.028713318284424378),
 ('B70 7AW', 'Paracet_Tab 500mg', 0.025135992162726547),
 ('B72 1RL', 'Omeprazole_Cap E/C 20mg', 0.020228765092141495),
 ('B8 1RZ', 'Metformin HCl_Tab 500mg', 0.021347750961484866),
 ('B9 5PU', 'Ventolin_Evohaler 100mcg (200 D)', 0.024826024522257815),
 ('B90 3LX', 'Omeprazole_Cap E/C 20mg', 0.026965103983080718),
 ('BA5 1XJ', 'Omeprazole_Cap E/C 20mg', 0.028261290947858113),
 ('BB11 2DL', 'Omeprazole_Cap E/C 20mg', 0.027381741821396993),
 ('BB2 1AX', 'Omeprazole_Cap E/C 20mg', 0.03428191046763188),
 ('BB3 1PY', 'Omeprazole_Cap E/C 20mg', 0.032683395995453356),
 ('BB4 5SL', 'Omeprazole_Cap E/C 20mg', 0.03747689029549087),
 ('BB4 7PL', 'Omeprazole_Cap E/C 20mg', 0.027477496877557173),
 ('BB7 2JG', 'Omeprazole_Cap E/C 20mg', 0.027980664806967485),
 ('BB8 0JZ', 'Atorvastatin_Tab 20mg', 0.021515746650768042),
 ('BB9 7SR', 'Omeprazole_Cap E/C 20mg', 0.02247662283190644),
 ('BD16 4RP', 'Lansoprazole_Cap 30mg (E/C Gran)', 0.022780283004198414),
 ('BD19 5AP', 'Lansoprazole_Cap 30mg (E/C Gran)', 0.02066220372715759),
 ('BD3 8QH', 'Atorvastatin_Tab 40mg', 0.031662850096882154),
 ('BD4 7SS', 'Atorvastatin_Tab 40mg', 0.03424183501960914),
 ('BH14 0DJ', 'Omeprazole_Cap E/C 20mg', 0.02838931332218254),
 ('BH18 8EE', 'Omeprazole_Cap E/C 20mg', 0.027092370049064923),
 ('BH23 3AF', 'Omeprazole_Cap E/C 20mg', 0.03546099290780142),
 ('BL1 3RG', 'Omeprazole_Cap E/C 20mg', 0.03362566656383588),
 ('BL1 8TU', 'Omeprazole_Cap E/C 20mg', 0.027729220222793487),
 ('BL2 6NT', 'Omeprazole_Cap E/C 20mg', 0.0271567320510379),
 ('BL3 5HP', 'Omeprazole_Cap E/C 20mg', 0.03129933420275929),
 ('BL9 0NJ', 'Omeprazole_Cap E/C 20mg', 0.032037565382786494),
 ('BL9 0SN', 'Omeprazole_Cap E/C 20mg', 0.03090454288711369),
 ('BN1 6AG', 'Lansoprazole_Cap 15mg (E/C Gran)', 0.021755523716160168),
 ('BN1 8DD', 'Aspirin Disper_Tab 75mg', 0.021517850460294887),
 ('BN9 9PW', 'Omeprazole_Cap E/C 20mg', 0.01855317763853853),
 ('BR2 9GT', 'Influenza_Vac Inact 0.5ml Pfs', 0.04301700334253742),
 ('BR3 3FD', 'Omeprazole_Cap E/C 20mg', 0.02865911645197545),
 ('BS16 3TD', 'Omeprazole_Cap E/C 20mg', 0.03752737892431249),
 ('BS23 3HQ', 'Omeprazole_Cap E/C 20mg', 0.030246216399367518),
 ('BS4 1WH', 'Omeprazole_Cap E/C 20mg', 0.029600778967867575),
 ('BS4 4HU', 'Omeprazole_Cap E/C 20mg', 0.037361354349095155),
 ('BS48 2XX', 'Omeprazole_Cap E/C 20mg', 0.030207346595095254),
 ('CA11 8HW', 'Omeprazole_Cap E/C 20mg', 0.027868623340321454),
 ('CB22 3HU', 'Omeprazole_Cap E/C 20mg', 0.038775726713346066),
 ('CB9 8HF', 'Omeprazole_Cap E/C 20mg', 0.03391110538046382),
 ('CH1 4DS', 'Lansoprazole_Cap 30mg (E/C Gran)', 0.0257736189772634),
 ('CH41 8DB', 'Omeprazole_Cap E/C 20mg', 0.03327732469980738),
 ('CH44 5UF', 'Omeprazole_Cap E/C 20mg', 0.03327334826839032),
 ('CH62 5HS', 'Omeprazole_Cap E/C 20mg', 0.037778835690968446),
 ('CH62 6EE', 'Influenza_Vac Inact 0.5ml Pfs', 0.057585894269547),
 ('CH65 6TG', 'Lansoprazole_Cap 30mg (E/C Gran)', 0.026067517902474142),
 ('CH66 3PB', 'Lansoprazole_Cap 30mg (E/C Gran)', 0.03100619319552803),
 ('CM18 6LY', 'Omeprazole_Cap E/C 20mg', 0.026445315758738635),
 ('CR0 0JA', 'Salbutamol_Inha 100mcg (200 D) CFF', 0.021571724750715768),
 ('CT11 8AD', 'Omeprazole_Cap E/C 20mg', 0.022307039864291774),
 ('CV1 4FS', 'Omeprazole_Cap E/C 20mg', 0.028455180531743392),
 ('CV12 8NQ', 'Omeprazole_Cap E/C 20mg', 0.026444799282852902),
 ('CV21 2DN', 'Omeprazole_Cap E/C 20mg', 0.04102890311294875),
 ('CV6 2FL', 'Omeprazole_Cap E/C 20mg', 0.036250663502669624),
 ('CV6 6DR', 'Omeprazole_Cap E/C 20mg', 0.030544721504009817),
 ('CW1 3AW', 'Omeprazole_Cap E/C 20mg', 0.03558258199497268),
 ('CW5 5NX', 'Omeprazole_Cap E/C 20mg', 0.03453647138997736),
 ('CW7 1AT', 'Omeprazole_Cap E/C 20mg', 0.03666371289322109),
 ('DA1 2HA', 'Omeprazole_Cap E/C 20mg', 0.019244977658938185),
 ('DA11 8BZ', 'Amoxicillin_Cap 500mg', 0.019686834904226208),
 ('DN16 2AB', 'Amlodipine_Tab 5mg', 0.019925280199252802),
 ('DN22 7XF', 'Simvastatin_Tab 40mg', 0.018624361621210474),
 ('DN31 3AE', 'Omeprazole_Cap E/C 20mg', 0.03432952436761402),
 ('DN34 4GB', 'Omeprazole_Cap E/C 20mg', 0.03709507845509909),
 ('DN6 0HZ', 'Paracet_Tab 500mg', 0.025764099668243102),
 ('DN8 4BQ', 'Lansoprazole_Cap 30mg (E/C Gran)', 0.021703061442945835),
 ('DY11 6SF', 'Omeprazole_Cap E/C 20mg', 0.021081859317153433),
 ('E15 4ES', 'Amlodipine_Tab 10mg', 0.02569068641412703),
 ('E7 0EP', 'Metformin HCl_Tab 500mg', 0.037244933982913224),
 ('FY2 0JG', 'Omeprazole_Cap E/C 20mg', 0.03627638093657511),
 ('FY4 1TJ', 'Omeprazole_Cap E/C 20mg', 0.04334478808705613),
 ('FY5 2TZ', 'Omeprazole_Cap E/C 20mg', 0.03540407051009112),
 ('FY5 3LF', 'Omeprazole_Cap E/C 20mg', 0.035122866094073016),
 ('FY7 8GU', 'Omeprazole_Cap E/C 20mg', 0.032058079778122195),
 ('FY8 5DZ', 'Omeprazole_Cap E/C 20mg', 0.02969960416717259),
 ('GL1 3PX', 'Omeprazole_Cap E/C 20mg', 0.025687801991914012),
 ('GL20 5GJ', 'Omeprazole_Cap E/C 20mg', 0.02412690753362688),
 ('GL50 4DP', 'Omeprazole_Cap E/C 20mg', 0.024009042366605605),
 ('GU9 9QS', 'Omeprazole_Cap E/C 20mg', 0.027052485943893322),
 ('HA0 4UZ', 'Metformin HCl_Tab 500mg', 0.027855843941147297),
 ('HA3 7LT', 'Omeprazole_Cap E/C 20mg', 0.02504635488712953),
 ('HD6 1AT', 'Lansoprazole_Cap 30mg (E/C Gran)', 0.021017471736896196),
 ('HG1 5AR', 'Omeprazole_Cap E/C 20mg', 0.02842489568845619),
 ('HR1 2JB', 'Omeprazole_Cap E/C 20mg', 0.028529603122966818),
 ('HR6 8HD', 'Omeprazole_Cap E/C 20mg', 0.027207967812149594),
 ('HU7 4DW', 'Salbutamol_Inha 100mcg (200 D) CFF', 0.025607843137254904),
 ('HU9 2LJ', 'Lansoprazole_Cap 30mg (E/C Gran)', 0.0243192109011288),
 ('IG7 4DF', 'Amlodipine_Tab 5mg', 0.01956475808155504),
 ('IP22 4WG', 'Omeprazole_Cap E/C 20mg', 0.02851095218241878),
 ('KT12 3LB', 'Omeprazole_Cap E/C 20mg', 0.01828471919895516),
 ('KT14 6DH', 'Amlodipine_Tab 5mg', 0.018667887710894296),
 ('KT16 8HZ', 'Amlodipine_Tab 5mg', 0.019319714781268066),
 ('KT6 6EZ', 'Omeprazole_Cap E/C 20mg', 0.02821316614420063),
 ('L31 0DJ', 'Omeprazole_Cap E/C 20mg', 0.029425653739448675),
 ('L34 1ND', 'Aspirin Disper_Tab 75mg', 0.022039828651777248),
 ('L36 0UB', 'Salbutamol_Inha 100mcg (200 D) CFF', 0.022442919039968843),
 ('L36 7XY', 'Salbutamol_Inha 100mcg (200 D) CFF', 0.027954155185495787),
 ('L5 0QW', 'Omeprazole_Cap E/C 20mg', 0.031272236994869106),
 ('L7 6HD', 'Salbutamol_Inha 100mcg (200 D) CFF', 0.025663458734324875),
 ('L9 1AD', 'Omeprazole_Cap E/C 20mg', 0.03398316349136021),
 ('LA1 1PN', 'Omeprazole_Cap E/C 20mg', 0.0341971411913713),
 ('LE10 1DS', 'Aspirin Disper_Tab 75mg', 0.021172132738210753),
 ('LE18 2EW', 'Lansoprazole_Cap 15mg (E/C Gran)', 0.024855054197126292),
 ('LE2 9BU', 'Lansoprazole_Cap 15mg (E/C Gran)', 0.025352806038726618),
 ('LE5 3GH', 'Metformin HCl_Tab 500mg', 0.033338796918537944),
 ('LE7 2EQ', 'Lansoprazole_Cap 15mg (E/C Gran)', 0.024983277591973243),
 ('LN1 2NU', 'Omeprazole_Cap E/C 20mg', 0.033066837224176526),
 ('LN2 2JP', 'Omeprazole_Cap E/C 20mg', 0.03444011624312125),
 ('LN6 0QQ', 'Omeprazole_Cap E/C 20mg', 0.03089724789414453),
 ('LS9 9EF', 'Lansoprazole_Cap 30mg (E/C Gran)', 0.029768274412903476),
 ('M11 4EJ', 'Omeprazole_Cap E/C 20mg', 0.029934329801377866),
 ('M13 9UJ', 'Influenza_Vac Inact 0.5ml Pfs', 0.031097855169086364),
 ('M22 5RX', 'Omeprazole_Cap E/C 20mg', 0.03827193690060052),
 ('M22 9UH', 'Omeprazole_Cap E/C 20mg', 0.040464846767962914),
 ('M26 2SP', 'Omeprazole_Cap E/C 20mg', 0.03877509939107242),
 ('M28 3AT', 'Omeprazole_Cap E/C 20mg', 0.03868133320120239),
 ('M30 0NU', 'Omeprazole_Cap E/C 20mg', 0.03577693319690104),
 ('M34 2AJ', 'Omeprazole_Cap E/C 20mg', 0.029074444367831943),
 ('M35 0AD', 'Omeprazole_Cap E/C 20mg', 0.028680830039525693),
 ('M7 1RD', 'Omeprazole_Cap E/C 20mg', 0.036935758728648994),
 ('ME12 1UP', 'Salbutamol_Inha 100mcg (200 D) CFF', 0.02014185687005547),
 ('ME12 3LT', 'Amoxicillin_Cap 500mg', 0.02156322989656323),
 ('ME8 8AA', 'Omeprazole_Cap E/C 20mg', 0.021543196306880633),
 ('N12 9SS', 'Omeprazole_Cap E/C 20mg', 0.0265472246083364),
 ('N15 4JR', 'Metformin HCl_Tab 500mg', 0.02628786582235153),
 ('N9 0TW', 'Influenza_Vac Inact 0.5ml Pfs', 0.07065587860466495),
 ('N9 7HD', 'Lansoprazole_Cap 30mg (E/C Gran)', 0.024433813733801622),
 ('NE10 9QG', 'Paracet_Tab 500mg', 0.04235886371808702),
 ('NE20 9SD', 'Influenza_Vac Inact 0.5ml Pfs', 0.036067793444766086),
 ('NE24 1DX', 'Paracet_Tab 500mg', 0.030756079027355623),
 ('NE27 0HJ', 'Paracet_Tab 500mg', 0.027976266428480286),
 ('NE29 0SF', 'Paracet_Tab 500mg', 0.03229937393284007),
 ('NE31 1NU', 'Paracet_Tab 500mg', 0.03234359975523762),
 ('NE37 2PU', 'Paracet_Tab 500mg', 0.026910892423833918),
 ('NE38 7NQ', 'Paracet_Tab 500mg', 0.029858336360334182),
 ('NG10 1RY', 'Omeprazole_Cap E/C 20mg', 0.02487620844140533),
 ('NG2 7SD', 'Amlodipine_Tab 5mg', 0.02105812739296902),
 ('NG6 8QJ', 'Paracet_Tab 500mg', 0.023769398216417388),
 ('NG7 3GW', 'Paracet_Tab 500mg', 0.020517348846873052),
 ('NG7 5HY', 'Paracet_Tab 500mg', 0.02340911644630885),
 ('NG8 6AS', 'Coloplast_Brava Adh Remover Spy 50ml', 0.06172150957427031),
 ('NN16 8DN', 'Omeprazole_Cap E/C 20mg', 0.03390692070186008),
 ('NN3 8DW', 'Omeprazole_Cap E/C 20mg', 0.025831341468528536),
 ('NR28 0BQ', 'Omeprazole_Cap E/C 20mg', 0.02001171646162859),
 ('NW10 8RY', 'Metformin HCl_Tab 500mg', 0.028801245459263103),
 ('OL1 1NL', 'Omeprazole_Cap E/C 20mg', 0.032085311381866655),
 ('OL11 1DN', 'Influenza_Vac Inact 0.5ml Pfs', 0.03555701880735833),
 ('OL2 6QW', 'Omeprazole_Cap E/C 20mg', 0.031949782218806046),
 ('OL4 1YN', 'Omeprazole_Cap E/C 20mg', 0.02603633797847945),
 ('OL6 6HD', 'Omeprazole_Cap E/C 20mg', 0.026173701191808785),
 ('OL6 7SR', 'Salbutamol_Inha 100mcg (200 D) CFF', 0.020958308338332333),
 ('OL9 0LH', 'Omeprazole_Cap E/C 20mg', 0.032224606580829755),
 ('OL9 7AY', 'Omeprazole_Cap E/C 20mg', 0.030959345318302824),
 ('OX12 9BN', 'Omeprazole_Cap E/C 20mg', 0.038543643263757116),
 ('OX16 9AD', 'Omeprazole_Cap E/C 20mg', 0.035215932173452265),
 ('PE1 2QP', 'Omeprazole_Cap E/C 20mg', 0.02757485750983383),
 ('PE21 8EG', 'Omeprazole_Cap E/C 20mg', 0.03355226470041514),
 ('PL7 1AD', 'Omeprazole_Cap E/C 20mg', 0.03630706895304247),
 ('PO11 9AP', 'Omeprazole_Cap E/C 20mg', 0.0344063192731587),
 ('PR25 1HR', 'Lansoprazole_Cap 30mg (E/C Gran)', 0.026283172936716243),
 ('PR3 1PB', 'Omeprazole_Cap E/C 20mg', 0.0321174688264771),
 ('RM3 9SU', 'Salbutamol_Inha 100mcg (200 D) CFF', 0.025737048867349562),
 ('S6 4JQ', 'Omeprazole_Cap E/C 20mg', 0.03884853536556323),
 ('S63 9EH', 'Salbutamol_Inha 100mcg (200 D) CFF', 0.028120879416592665),
 ('S65 1DA', 'Influenza_Vac Inact 0.5ml Pfs', 0.02315783751460955),
 ('S70 1QE', 'Omeprazole_Cap E/C 20mg', 0.03487876592662036),
 ('S74 9AF', 'Omeprazole_Cap E/C 20mg', 0.03427468018344195),
 ('SE1 6JP', 'Metformin HCl_Tab 500mg', 0.022291507593111055),
 ('SE15 5LJ', 'Metformin HCl_Tab 500mg', 0.022155085599194362),
 ('SE25 5NT', 'Omeprazole_Cap E/C 20mg', 0.02345441424103921),
 ('SE8 4BG', 'Amoxicillin_Cap 500mg', 0.02948456610366919),
 ('SK11 6JL', 'Omeprazole_Cap E/C 20mg', 0.02866863193894),
 ('SK6 1ND', 'Lansoprazole_Cap 30mg (E/C Gran)', 0.018010806483890335),
 ('SK8 3JD', 'Omeprazole_Cap E/C 20mg', 0.025381103458949162),
 ('SK8 6LU', 'Simvastatin_Tab 40mg', 0.02197471402769416),
 ('SL9 9SA', 'Omeprazole_Cap E/C 20mg', 0.029495274823070728),
 ('SM3 8EP', 'Omeprazole_Cap E/C 20mg', 0.02806633173421977),
 ('SM6 0HY', 'Omeprazole_Cap E/C 20mg', 0.029984175589305165),
 ('SR4 7XF', 'Paracet_Tab 500mg', 0.032750923645320194),
 ('SR5 2LT', 'Paracet_Tab 500mg', 0.03407965962466036),
 ('SR7 7JE', 'Lansoprazole_Cap 30mg (E/C Gran)', 0.032015775889568776),
 ('SS0 7AF', 'Omeprazole_Cap E/C 20mg', 0.019305508617776277),
 ('SS13 3HQ', 'Lansoprazole_Cap 30mg (E/C Gran)', 0.0242175398913284),
 ('SS4 1AY', 'Influenza_Vac Inact 0.5ml Pfs', 0.031081171213232842),
 ('SS7 4EA', 'Omeprazole_Cap E/C 20mg', 0.027214741318214032),
 ('SS8 0JA', 'Omeprazole_Cap E/C 20mg', 0.025750804059980786),
 ('SS9 5UU', 'Influvac Sub-Unit_Vac 0.5ml Pfs', 0.02319551506657323),
 ('ST1 4PB', 'Omeprazole_Cap E/C 20mg', 0.027404066656474546),
 ('ST3 1EQ', 'Omeprazole_Cap E/C 20mg', 0.03478994254388277),
 ('ST3 6AB', 'Omeprazole_Cap E/C 20mg', 0.02964867180805484),
 ('ST7 2LU', 'Omeprazole_Cap E/C 20mg', 0.04062938848461636),
 ('ST7 4AY', 'Omeprazole_Cap E/C 20mg', 0.037616672030897975),
 ('ST8 6AG', 'Omeprazole_Cap E/C 20mg', 0.037111388421680866),
 ('TF3 2JZ', 'Omeprazole_Cap E/C 20mg', 0.029868499306152117),
 ('TN24 0GP', 'Amoxicillin_Cap 500mg', 0.08076728924785462),
 ('TN34 1BA', 'Omeprazole_Cap E/C 20mg', 0.02941529115542944),
 ('TQ2 6HW', 'Omeprazole_Cap E/C 20mg', 0.0260090211469744),
 ('TR1 2JA', 'Omeprazole_Cap E/C 20mg', 0.04348842100343514),
 ('TS1 2NX', 'Paracet_Tab 500mg', 0.02623580227163654),
 ('TS10 4NW', 'Paracet_Tab 500mg', 0.022259946949602122),
 ('TS14 7DJ', 'Paracet_Tab 500mg', 0.023714901685758072),
 ('TS17 0EE', 'Lansoprazole_Cap 30mg (E/C Gran)', 0.02413763949949273),
 ('TS23 2DG', 'Paracet_Tab 500mg', 0.0240040402840082),
 ('TS24 7PW', 'Paracet_Tab 500mg', 0.037472679646962645),
 ('TS3 6AL', 'Lansoprazole_Cap 30mg (E/C Gran)', 0.026005216053436402),
 ('TS6 6TD', 'Paracet_Tab 500mg', 0.024765917602996255),
 ('TS8 0TL', 'Paracet_Tab 500mg', 0.026320882523708147),
 ('TW13 4GU', 'Omeprazole_Cap E/C 20mg', 0.02728921124206709),
 ('TW3 2DY', 'Omeprazole_Cap E/C 20mg', 0.029966281996485728),
 ('TW3 3LN', 'Omeprazole_Cap E/C 20mg', 0.02613091565006883),
 ('TW5 9ER', 'Metformin HCl_Tab 500mg', 0.02605377428834598),
 ('TW8 8DS', 'Omeprazole_Cap E/C 20mg', 0.03781188673955705),
 ('UB5 6WL', 'Salbutamol_Inha 100mcg (200 D) CFF', 0.026409317075837935),
 ('W10 6DZ', 'Amoxicillin_Cap 500mg', 0.026310007689772603),
 ('W12 7FG', 'Omeprazole_Cap E/C 20mg', 0.02568727453663391),
 ('W4 1RX', 'Omeprazole_Cap E/C 20mg', 0.027025865772965542),
 ('WA1 3RB', 'Omeprazole_Cap E/C 20mg', 0.03835692040840462),
 ('WA10 2DJ', 'Lansoprazole_Cap 15mg (E/C Gran)', 0.018514150943396226),
 ('WA11 0JN', 'Omeprazole_Cap E/C 20mg', 0.023628619121625512),
 ('WA15 6PH', 'Omeprazole_Cap E/C 20mg', 0.032920582823611315),
 ('WA3 3GS', 'Omeprazole_Cap E/C 20mg', 0.039337136647650095),
 ('WA6 6RX', 'Lansoprazole_Cap 30mg (E/C Gran)', 0.027446336946291405),
 ('WA7 1AB', 'Omeprazole_Cap E/C 20mg', 0.039206715922867535),
 ('WA7 2UT', 'Omeprazole_Cap E/C 20mg', 0.0375),
 ('WA9 1LN', 'Lansoprazole_Cap 15mg (E/C Gran)', 0.020123543271986243),
 ('WD18 0JP', 'Omeprazole_Cap E/C 20mg', 0.030174508504528384),
 ('WD18 7QR', 'Omeprazole_Cap E/C 20mg', 0.03075911264007285),
 ('WD23 2NN', 'Omeprazole_Cap E/C 20mg', 0.028030868807567836),
 ('WD3 7DJ', 'Omeprazole_Cap E/C 20mg', 0.029235482152370804),
 ('WF13 1HN', 'Lansoprazole_Cap 30mg (E/C Gran)', 0.01986826867400116),
 ('WF16 0HH', 'Paracet_Tab 500mg', 0.02311553161118018),
 ('WF5 8DF', 'Salbutamol_Inha 100mcg (200 D) CFF', 0.021280505733607763),
 ('WF9 3AP', 'Atorvastatin_Tab 20mg', 0.020415072620780714),
 ('WN2 5NG', 'Omeprazole_Cap E/C 20mg', 0.03701367811108045),
 ('WN3 5HL', 'Omeprazole_Cap E/C 20mg', 0.04438042112360928),
 ('WN5 9QX', 'Omeprazole_Cap E/C 20mg', 0.04295765954820393),
 ('WN7 1HR', 'Omeprazole_Cap E/C 20mg', 0.034880322172063265),
 ('WN7 2PE', 'Omeprazole_Cap E/C 20mg', 0.03824701195219123),
 ('WR11 4BS', 'Imuvac_Vac 0.5ml Pfs', 0.036331025277383834),
 ('WR14 2GP', 'Omeprazole_Cap E/C 20mg', 0.026850763807285547),
 ('WR9 8RD', 'Omeprazole_Cap E/C 20mg', 0.02847475669099757),
 ('WS1 3PS', 'Metformin HCl_Tab 500mg', 0.020429206676548302),
 ('WS10 8SY', 'Salbutamol_Inha 100mcg (200 D) CFF', 0.02410069369949224),
 ('WS11 9SE', 'Lansoprazole_Cap 30mg (E/C Gran)', 0.02038633360599006),
 ('WS13 6JL', 'Aspirin Disper_Tab 75mg', 0.023138879836119),
 ('WS13 7HT', 'Omeprazole_Cap E/C 20mg', 0.017992454777028988),
 ('WS2 0BA', 'Influenza_Vac Inact 0.5ml Pfs', 0.05052490044991467),
 ('WS3 1ET', 'Salbutamol_Inha 100mcg (200 D) CFF', 0.02199909178061456),
 ('WS3 3JP', 'Paracet_Tab 500mg', 0.02138791000271076),
 ('WS9 8AJ', 'Amlodipine_Tab 5mg', 0.0161744884205367),
 ('WV13 2DR', 'Salbutamol_Inha 100mcg (200 D) CFF', 0.022236881888898052),
 ('YO11 1UB', 'Omeprazole_Cap E/C 20mg', 0.029712000561265654),
 ('YO16 4LZ', 'Aspirin Disper_Tab 75mg', 0.022173937266700094)]

In [52]:
items_by_region = [(item[1:]) for item in max_items.itertuples()][:100]

In [53]:
# items_by_region = [("B11 4BW", "Salbutamol_Inha 100mcg (200 D) CFF", 0.0310589063)] * 100

In [54]:
grader.score.dw__items_by_region(items_by_region)

==================
Your score: 1.000
==================

## Question 4: script_anomalies

Drug abuse is a source of human and monetary costs in health care. A first step in identifying practitioners that enable drug abuse is to look for practices where commonly abused drugs are prescribed unusually often. Let's try to find practices that prescribe an unusually high amount of opioids. The opioids we'll look for are given in the list below.

In [55]:
max_items.to_csv('dw-data/max_items.csv') #we are saving the dataframe as a csv file

In [56]:
import dill

In [57]:
with open('dw-data/max_items.dill' , 'wb') as f:
    dill.dump(max_items, f) #dill and dump my max_items file into f

In [58]:
with open('dw-data/max_items.dill' , 'rb') as f:
    new_max_items = dill.load(f)

In [59]:
new_max_items.head()

  post_code                            bnf_name     items
0   B11 4BW  Salbutamol_Inha 100mcg (200 D) CFF  0.031059
1   B12 9LP                   Paracet_Tab 500mg  0.024893
2   B18 7AL  Salbutamol_Inha 100mcg (200 D) CFF  0.027111
3   B21 9RY             Metformin HCl_Tab 500mg  0.033294
4   B23 6DJ    Lansoprazole_Cap 30mg (E/C Gran)  0.021384

In [60]:
max_items == new_max_items

     post_code  bnf_name  items
0         True      True   True
1         True      True   True
2         True      True   True
3         True      True   True
4         True      True   True
..         ...       ...    ...
254       True      True   True
255       True      True   True
256       True      True   True
257       True      True   True
258       True      True   True

[259 rows x 3 columns]

In [61]:
np.all(max_items == new_max_items)

True

In [62]:
opioids = ['morphine', 'oxycodone', 'methadone', 'fentanyl', 'pethidine', 'buprenorphine', 'propoxyphene', 'codeine']

In [63]:
chem['NAME'].dtype

dtype('O')

In [64]:
chem[['NAME']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3487 entries, 0 to 3486
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   NAME    3487 non-null   object
dtypes: object(1)
memory usage: 27.4+ KB

In [65]:
chem['NAME'].str.contains('|'.join(opioids), case=False)

0       False
1       False
2       False
3       False
4       False
        ...
3482    False
3483    False
3484    False
3485    False
3486    False
Name: NAME, Length: 3487, dtype: bool

In [66]:
'|'.join(opioids)

'morphine|oxycodone|methadone|fentanyl|pethidine|buprenorphine|propoxyphene|codeine'

These are generic names for drugs, not brand names. Generic drug names can be found using the `'bnf_code'` field in `scripts` along with the `chem` table. Use the list of opioids provided above along with these fields to make a new field in the `scripts` data that flags whether the row corresponds with a opioid prescription.

In [67]:
opioid_codes = chem[chem['NAME'].str.contains('|'.join(opioids), case=False)]['CHEM SUB'].unique()

In [68]:
opioid_codes

array(['0104020D0', '0104020N0', '0309010C0', '0309010N0', '0309010S0',
       '0309020AC', '0407010F0', '0407010M0', '0407010N0', '0407010R0',
       '0407010T0', '0407010V0', '0407020AD', '0407020AE', '0407020AF',
       '0407020A0', '0407020B0', '0407020C0', '0407020E0', '0407020G0',
       '0407020K0', '0407020M0', '0407020N0', '0407020P0', '0407020Q0',
       '0407020V0', '0407020Z0', '040702010', '040702020', '0409010A0',
       '0410030A0', '0410030C0', '0704050G0', '1501043F0', '1502010Z0'],
      dtype=object)

Now for each practice calculate the proportion of its prescriptions containing opioids.

**Hint:** Consider the following list: `[0, 1, 1, 0, 0, 0]`. What proportion of the entries are 1s? What is the mean value?

In [69]:
scripts['bnf_code'].isin(opioid_codes).sum()

34843

In [70]:
scripts['opioid'] = scripts['bnf_code'].isin(opioid_codes)

In [71]:
scripts.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity,opioid
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12,False
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30,False
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1,False
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150,False
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6,False

In [72]:
scripts['opioid'].mean()

0.03580276471367961

In [73]:
opioids_per_practice = scripts.groupby('practice')['opioid'].mean()

In [74]:
opioids_per_practice

practice
A81005    0.033179
A81007    0.043329
A81011    0.046556
A81012    0.042793
A81017    0.038140
            ...
Y05570    0.090909
Y05583    0.000000
Y05597    0.000000
Y05660    0.023055
Y05670    0.000000
Name: opioid, Length: 856, dtype: float64

How do these proportions compare to the overall opioid prescription rate? Subtract off the proportion of all prescriptions that are opioids from each practice's proportion.

In [75]:
relative_opioids_per_practice = opioids_per_practice - scripts['opioid'].mean()

Now that we know the difference between each practice's opioid prescription rate and the overall rate, we can identify which practices prescribe opioids at above average or below average rates. However, are the differences from the overall rate important or just random deviations? In other words, are the differences from the overall rate big or small?

To answer this question we have to quantify the difference we would typically expect between a given practice's opioid prescription rate and the overall rate. This quantity is called the **standard error**, and is related to the **standard deviation**, $\sigma$. The standard error in this case is

$$ \frac{\sigma}{\sqrt{n}} $$

where $n$ is the number of prescriptions each practice made. Calculate the standard error for each practice. Then divide `relative_opioids_per_practice` by the standard errors. We'll call the final result `opioid_scores`.

In [76]:
standard_error_per_practice = np.sqrt(scripts['opioid'].var()/scripts['practice'].value_counts())
opioid_scores = relative_opioids_per_practice / standard_error_per_practice

In [77]:
opioid_scores

A81005   -0.548306
A81007    1.544557
A81011    2.291795
A81012    1.373060
A81017    0.583168
            ...
Y05570    1.391142
Y05583   -1.019657
Y05597   -0.817544
Y05660   -1.278102
Y05670   -0.667522
Length: 856, dtype: float64

In [78]:
opioid_scores.to_frame().rename(columns={0: 'z-score'})

         z-score
A81005 -0.548306
A81007  1.544557
A81011  2.291795
A81012  1.373060
A81017  0.583168
...          ...
Y05570  1.391142
Y05583 -1.019657
Y05597 -0.817544
Y05660 -1.278102
Y05670 -0.667522

[856 rows x 1 columns]

The quantity we have calculated in `opioid_scores` is called a **z-score**:

$$ \frac{\bar{X} - \mu}{\sqrt{\sigma^2/n}} $$

Here $\bar{X}$ corresponds with the proportion for each practice, $\mu$ corresponds with the proportion across all practices, $\sigma^2$ corresponds with the variance of the proportion across all practices, and $n$ is the number of prescriptions made by each practice. Notice $\bar{X}$ and $n$ will be different for each practice, while $\mu$ and $\sigma$ are determined across all prescriptions, and so are the same for every z-score. The z-score is a useful statistical tool used for hypothesis testing, finding outliers, and comparing data about different types of objects or events.

Now that we've calculated this statistic, take the 100 practices with the largest z-score. Return your result as a list of tuples in the form `(practice_code, practice_name, z-score, number_of_scripts)`. Sort your tuples by z-score in descending order. Note that some practice codes will correspond with multiple names. In this case, use the first match when sorting names alphabetically.

In [79]:
unique_practices_by_name = practices.groupby('code')['name'].min().reset_index()

In [80]:
unique_practices_by_name.head()

     code                        name
0  A81001         THE DENSHAM SURGERY
1  A81002  QUEENS PARK MEDICAL CENTRE
2  A81003   VICTORIA MEDICAL PRACTICE
3  A81004     BLUEBELL MEDICAL CENTRE
4  A81005          SPRINGWOOD SURGERY

In [81]:
scripts['practice'].value_counts().to_frame().rename(columns={'practice': 'count'})

        count
N83028   2844
L83100   2797
D81043   2459
B81008   2396
B81026   2347
...       ...
Y03010      1
Y05366      1
C85617      1
Y03179      1
Y03472      1

[856 rows x 1 columns]

In [82]:
joined = unique_practices_by_name\
    .merge(opioid_scores.to_frame()\
    .rename(columns={0: 'z-score'}), left_on='code', right_index=True)\
    .merge(scripts['practice'].value_counts()\
           .to_frame().rename(columns={'practice': 'count'}), left_on='code', right_index=True)

In [83]:
anomalies = [i[1:] for i in joined.sort_values('z-score', ascending=False).itertuples() ][:100]#we are sorting the zscore values in descending order

In [84]:
anomalies

[('Y01852', 'NATIONAL ENHANCED SERVICE', 11.695817862936027, 7),
 ('Y03006', 'OUTREACH SERVICE NH / RH', 7.339043019238823, 2),
 ('Y03668', 'BRISDOC HEALTHCARE SERVICES OOH', 6.1505817490838295, 60),
 ('G81703', 'H&R P C SPECIAL SCHEME', 5.123032414033079, 36),
 ('Y04997', 'HMR BARDOC OOH', 4.958866438487605, 321),
 ('Y04585', 'INTEGRATED CARE 24 LTD (CWSX OOH)', 4.8888781604828235, 426),
 ('P81051', 'DARWEN HEALTHCARE', 4.83915896863634, 1917),
 ('P87017', 'THE LIMES MEDICAL PRACTICE', 4.546841872334426, 1321),
 ('Y01086', 'IC24 LTD (BRIGHTON & HOVE OOH)', 4.335047010605196, 357),
 ('Y05327', 'OLDHAM 7 DAY ACCESS HUB2 OOH', 4.31178403661019, 56),
 ('Y00502', 'IC24 LTD (NORFOLK & WISBECH OOH)', 4.2575005924727645, 489),
 ('Y04657', 'ROSSENDALE MIU & OOH', 4.256827446322491, 18),
 ('Y00016', 'BURY WALK-IN CENTRE', 4.150589122881537, 138),
 ('Y04587', 'IC24 LTD (HORSHAM & MID SUSSEX OOH)', 3.7816207038443523, 215),
 ('Y04921', 'LCW HOUNSLOW CCG OOH', 3.582848546206269, 69),
 ('Y05419', 'WEEKEND WORKING EASINGTON NORTH', 3.565938771129765, 278),
 ('Y02947', 'COMPASS ENFIELD', 3.5587202651067935, 7),
 ('Y00581', 'BASSETLAW DRUG & ALCOHOL SERVICE', 3.5332641025115423, 2),
 ('A88603', 'THE PARK SURGERY', 3.511114736389202, 969),
 ('G81061', 'CHAPEL STREET SURGERY', 3.4907459502707447, 1504),
 ('L81087', 'BEECHWOOD MEDICAL PRACTICE', 3.4747953064338977, 1552),
 ('Y01696', 'BASSETLAW HOSPICE OF THE GOOD SHEPHERD', 3.454423428527398, 46),
 ('G81014', 'CARDEN SURGERY', 3.4503113243413193, 1375),
 ('Y01716', 'GP IN A&E (WIC)', 3.3959177486386096, 87),
 ('Y00234', 'NORTHAMPTONSHIRE OOH SERVICE', 3.39355927807245, 382),
 ('P81057', 'WORDEN MEDICAL CENTRE', 3.341328344384246, 1898),
 ('Y03662', 'BRISDOC HEALTHCARE SERVICES OOH', 3.333643839656514, 566),
 ('Y01003', 'BURY OOH', 3.3215295599703474, 292),
 ('Y00860', 'IC24 SOUTHEND/CP&R CCG OOH', 3.2211153199464, 336),
 ('Y04586', 'IC24 LTD (CRAWLEY OOH)', 3.1942640976202856, 173),
 ('Y03787', 'EASTBOURNE  HAILSHAM & SEAFORD OOH', 2.9896925335154507, 255),
 ('A81610', 'THE ROSEBERRY PRACTICE', 2.9803589486570257, 1450),
 ('B86016', 'SHAFTESBURY MEDICAL CTR.', 2.904593003935284, 2126),
 ('P81025', 'THE RICHMOND HILL PRACTICE', 2.860189197858325, 1729),
 ('Y04426', 'DGS OOH (INTEGRATED CARE 24 LTD)', 2.795651191074179, 325),
 ('C86016', 'THE LAKESIDE PRACTICE', 2.7801243484267157, 1554),
 ('Y01943', 'DEWSBURY MSK SERVICE', 2.773644352185692, 3),
 ('Y03703', 'BRISDOC HEALTHCARE SERVICES OOH', 2.7220204978636375, 74),
 ('P82022', 'HALLIWELL SURGERY 1', 2.6902312553464682, 1124),
 ('P85013', 'THE ROYTON & CROMPTON FAMILY PRACTICE', 2.667409950287062, 2054),
 ('B81069',
  'PRACTICE 3  MEDICAL CENTRE  BRIDLINGTON',
  2.6526642039852844,
  1936),
 ('Y05493', 'LCWUCC - IUC NCL', 2.5927932420214392, 443),
 ('P84032', 'DR MOKASHI', 2.496887689055938, 1341),
 ('L81095', 'THE CREST FAMILY PRACTICE', 2.494358442548829, 1294),
 ('P85608', 'PERKINS PRACTICE', 2.479571342887134, 899),
 ('M91025', 'DARLASTON HEALTH CENTRE', 2.4456345065842657, 996),
 ('Y00469', "DR MA SIMS' PRACTICE", 2.437276610645611, 1857),
 ('P87652', '1/LOWER BROUGHTON MEDICAL PRACTICE', 2.435636753514273, 1044),
 ('G81013', 'CORNWALLIS PLAZA SURGERY', 2.424202462055629, 2326),
 ('Y02606', 'FAIRMORE MEDICAL PRACTICE', 2.3824085989710504, 1288),
 ('M82619', 'LAWLEY MEDICAL PRACTICE', 2.373577973078906, 1409),
 ('P83021', "PEEL GP'S", 2.353594338493154, 1557),
 ('P84051', 'EASTLANDS MEDICAL CENTRE', 2.325396683274206, 1369),
 ('N84010', 'MAGHULL HEALTH CENTRE (DR SAPRE)', 2.3194074094375097, 1322),
 ('Y00390', 'INTEGRATED CARE 24 LIMITED OOH', 2.3106497615538943, 511),
 ('Y02521', 'WILLOW BANK SURGERY', 2.295642132037915, 1934),
 ('Y03819', 'IC24 LTD (HWLH OOH)', 2.2949004338925127, 216),
 ('A81011', 'CHADWICK PRACTICE', 2.2917945205697303, 1568),
 ('M86639', 'C&WPT OOH SERVICE', 2.2708524012737876, 341),
 ('L81094', 'THE MERRYWOOD PRACTICE', 2.2705509556396586, 1234),
 ('Y03656', 'LEYLAND SURGERY', 2.251774286539937, 1213),
 ('P87008', 'WALKDEN MEDICAL PRACTICE', 2.2415736140706994, 1577),
 ('P83007', 'RADCLIFFE MEDICAL PRACTICE', 2.2396070334595315, 1553),
 ('P83005', 'RIBBLESDALE GP-DR SUBBIAH', 2.2097458912614827, 1100),
 ('P84637', 'THE MAZHARI & KHAN PRACTICE', 2.2006627122644895, 912),
 ('B81112', 'JAMES ALEXANDER FAMILY PRACTICE', 2.1967025909056024, 1634),
 ('Y01838', 'B&H INTERMEDIATE CARE SERVICE', 2.1862131918267544, 456),
 ('M91022', 'HARDEN SURGERY', 2.155495816284959, 1228),
 ('G82044', 'THE GATEWAY MEDICAL PRACTICE', 2.154423496545371, 1349),
 ('P85026', 'QUAYSIDE MEDICAL PRACTICE', 2.1535448371359025, 1422),
 ('Y00599', 'HASTINGS AND ROTHER OOH', 2.076490970994684, 291),
 ('L81013', 'FISHPONDS FAMILY PRACTICE', 2.0743592136603786, 1632),
 ('A89019', 'DRS CLOAK  CHOI AND MILLIGAN', 2.0511156727220916, 1661),
 ('M91612', "ST MARY'S SURGERY", 2.041026500575296, 981),
 ('P81079', 'THE THORNTON PRACTICE', 1.9970130183083867, 1970),
 ('Y04588', 'IC24 LTD (EAST SURREY OOH)', 1.9530599800408153, 194),
 ('P84043', 'CORNISHWAY GROUP PRACTICE', 1.9529030654485127, 1506),
 ('P92621', 'PREMIER HEALTH TEAM', 1.9342677920567377, 876),
 ('A89022', 'CONCORD MEDICAL PRACTICE', 1.9339605744520654, 1386),
 ('A81058', 'COULBY MEDICAL PRACTICE', 1.9268085445885355, 1585),
 ('C84064', 'PARKSIDE MEDICAL CENTRE', 1.9235518278308144, 1314),
 ('A81064', 'THE DISCOVERY PRACTICE', 1.9047661015943373, 1268),
 ('B81026', 'ANCORA MEDICAL PRACTICE', 1.8854159223309173, 2347),
 ('P81140', 'DARWEN HEALTHLINK', 1.8822754121466374, 2019),
 ('P85601', 'JALAL PRACTICE', 1.8661104279692895, 885),
 ('B83042', 'ROOLEY LANE MED. CENTRE', 1.8635817801511316, 1522),
 ('N82669', 'GREAT HOMER STREET MEDICAL CENTRE', 1.813002119840964, 1062),
 ('Y02344', 'NORTHPOINT', 1.8024326949572382, 1137),
 ('P81092', 'THE CRESCENT SURGERY', 1.7989165864147443, 1734),
 ('N81096', 'BROOKVALE PRACTICE', 1.7979440966591638, 1484),
 ('Y00675', 'LEIGH NHS WIC', 1.7760099128664424, 162),
 ('B87006', 'DR SP SINGH AND PARTNERS', 1.772041643578181, 1840),
 ('B82092', 'BELGRAVE SURGERY', 1.7643723369327995, 1291),
 ('P85006', 'THE PARKS MEDICAL PRACTICE', 1.7589687048174796, 1466),
 ('F81106', 'THE ROSS PRACTICE', 1.7231557395207378, 1648),
 ('D81024', 'THOMAS WALKER', 1.69692378556541, 1377),
 ('A81033', 'OAKFIELD MEDICAL PRACTICE', 1.6948316951338191, 1055),
 ('P81684', "DR DP CHARLES' PRACTICE", 1.691315520903282, 1353),
 ('N81121', 'NORTHGATE VILLAGE SURGERY', 1.6861842319656928, 1304),
 ('P81099', 'DR THM MACKENZIE & PARTNERS', 1.682911604319903, 1782)]

In [85]:
#anomalies = [("NATIONAL ENHANCED SERVICE", 11.6958178629, 7)] * 100

In [86]:
grader.score.dw__script_anomalies(anomalies)

==================
Error!
You have been rate limited for exceeding the limit of 3 per 1 minute.
Please slow down your submission rate.
==================

## Question 5: script_growth

Another way to identify anomalies is by comparing current data to historical data. In the case of identifying sites of drug abuse, we might compare a practice's current rate of opioid prescription to their rate 5 or 10 years ago. Unless the nature of the practice has changed, the profile of drugs they prescribe should be relatively stable. We might also want to identify trends through time for business reasons, identifying drugs that are gaining market share. That's what we'll do in this question.

We'll load in beneficiary data from 6 months earlier, June 2016, and calculate the growth rate in prescription rate from June 2016 to January 2017 for each `bnf_name`. The growth is defined as

$$
\text{growth rate} = \frac{x_1 - x_0}{x_0},
$$
where $x_1$ is the current value and $x_0$ is the previous value.


We'll return the 50 items with largest growth and the 50 items with the largest shrinkage (i.e. negative growth rate) as a list of tuples sorted by growth rate in descending order in the format `(script_name, growth_rate, raw_2016_count)`. You'll notice that many of the 50 fastest growing items have low counts of prescriptions in 2016. Filter out any items that were prescribed less than 50 times.

In [87]:
scripts16 = pd.read_csv('dw-data/201606scripts_sample.csv.gz')

In [88]:
bnf_totals_2016 = scripts16['bnf_name'].value_counts()

In [89]:
bnf_totals_2016

GlucoRX FinePoint Needles Pen Inj Screw     1532
3m Health Care_Cavilon Durable Barrier C     825
Fluclox Sod_Cap 500mg                        796
Amoxicillin_Cap 500mg                        790
Prednisolone_Tab 5mg                         786
                                            ...
Pennine Male Pre-Lube Nelaton+IntegBag S       1
Comfigrip 6.75cm x 1m Stkntte Elasctd Tu       1
Soap_Spt Methylated                            1
Bazuka_Treatment Gel Ex Strgh 26%+Applic       1
Coloplast_Assura Insp Seal Closed Bag Mi       1
Name: bnf_name, Length: 13540, dtype: int64

In [90]:
bnf_totals_2017 = scripts['bnf_name'].value_counts()

In [91]:
bnf_totals_2017

GlucoRX FinePoint Needles Pen Inj Screw     1718
3m Health Care_Cavilon Durable Barrier C     816
Prednisolone_Tab 5mg                         785
Fluclox Sod_Cap 500mg                        783
Amoxicillin_Cap 500mg                        777
                                            ...
Azzalure_Inj Pdr 125u Vl                       1
Optifast_Shake Pdr Sach 54g (Choc)             1
Water For Inj_500ml Bag                        1
CitraFleet_Oral Pdr Sach 15.08g                1
L.IN.C All Slc Stnd+Water Size16-20 10ml       1
Name: bnf_name, Length: 13471, dtype: int64

In [92]:
growth_rate = (bnf_totals_2017 - bnf_totals_2016) / bnf_totals_2016

In [93]:
growth_rate

365 Film 10cm x 12cm VP Adh Film Dress           NaN
365 Film 15cm x 20cm VP Adh Film Dress           NaN
365 Film 4cm x 5cm VP Adh Film Dress             NaN
365 Non Adherent 10cm x 10cm Pfa Plas Fa    0.000000
365 Non Adherent 10cm x 20cm Pfa Plas Fa         NaN
                                              ...
nSpire PiKo-1 Stnd Range Peak Flow Meter   -0.500000
nSpire Pocket Peak Low Range Peak Flow M    1.000000
nSpire Pocket Peak Stnd Range Peak Flow     1.500000
oraNurse_Toothpaste Orig (1450ppm)          1.000000
palmdoc (Reagent)_Strips                    0.666667
Name: bnf_name, Length: 15424, dtype: float64

In [94]:
growth_rate.rename('growth_rate')

365 Film 10cm x 12cm VP Adh Film Dress           NaN
365 Film 15cm x 20cm VP Adh Film Dress           NaN
365 Film 4cm x 5cm VP Adh Film Dress             NaN
365 Non Adherent 10cm x 10cm Pfa Plas Fa    0.000000
365 Non Adherent 10cm x 20cm Pfa Plas Fa         NaN
                                              ...
nSpire PiKo-1 Stnd Range Peak Flow Meter   -0.500000
nSpire Pocket Peak Low Range Peak Flow M    1.000000
nSpire Pocket Peak Stnd Range Peak Flow     1.500000
oraNurse_Toothpaste Orig (1450ppm)          1.000000
palmdoc (Reagent)_Strips                    0.666667
Name: growth_rate, Length: 15424, dtype: float64

In [95]:
pd.concat([growth_rate, bnf_totals_2016], axis=1)

                                          bnf_name  bnf_name
365 Film 10cm x 12cm VP Adh Film Dress         NaN       NaN
365 Film 15cm x 20cm VP Adh Film Dress         NaN       1.0
365 Film 4cm x 5cm VP Adh Film Dress           NaN       1.0
365 Non Adherent 10cm x 10cm Pfa Plas Fa  0.000000       3.0
365 Non Adherent 10cm x 20cm Pfa Plas Fa       NaN       NaN
...                                            ...       ...
nSpire PiKo-1 Stnd Range Peak Flow Meter -0.500000       2.0
nSpire Pocket Peak Low Range Peak Flow M  1.000000       2.0
nSpire Pocket Peak Stnd Range Peak Flow   1.500000       2.0
oraNurse_Toothpaste Orig (1450ppm)        1.000000       2.0
palmdoc (Reagent)_Strips                  0.666667       3.0

[15424 rows x 2 columns]

In [96]:
pd.concat([growth_rate.rename('growth_rate'), bnf_totals_2016.rename('count')], axis=1).reset_index()

                                          index  growth_rate  count
0        365 Film 10cm x 12cm VP Adh Film Dress          NaN    NaN
1        365 Film 15cm x 20cm VP Adh Film Dress          NaN    1.0
2          365 Film 4cm x 5cm VP Adh Film Dress          NaN    1.0
3      365 Non Adherent 10cm x 10cm Pfa Plas Fa     0.000000    3.0
4      365 Non Adherent 10cm x 20cm Pfa Plas Fa          NaN    NaN
...                                         ...          ...    ...
15419  nSpire PiKo-1 Stnd Range Peak Flow Meter    -0.500000    2.0
15420  nSpire Pocket Peak Low Range Peak Flow M     1.000000    2.0
15421   nSpire Pocket Peak Stnd Range Peak Flow     1.500000    2.0
15422        oraNurse_Toothpaste Orig (1450ppm)     1.000000    2.0
15423                  palmdoc (Reagent)_Strips     0.666667    3.0

[15424 rows x 3 columns]

In [97]:
df = pd.concat([growth_rate.rename('growth_rate'), 
           bnf_totals_2016.rename('count')], axis=1).reset_index()\
           .rename(columns={'index': 'bnf_name'})

In [98]:
df = df[(df['count'] >= 50) & (~df['growth_rate'].isna())].sort_values('growth_rate', ascending=False) #~ MEANS not in python

In [99]:
len(df)

3485

In [100]:
script_growth = pd.concat([df.head(50), df.tail(50)])

In [101]:
len(script_growth)

100

In [102]:
script_growth.head()

                                       bnf_name  growth_rate  count
1985            Butec_Transdermal Patch 5mcg/hr     3.467742   62.0
1983           Butec_Transdermal Patch 10mcg/hr     3.000000   69.0
5742   Fostair NEXThaler_Inh 200mcg/6mcg (120D)     1.430233   86.0
11270     Pneumococcal_Vac 0.5ml Vl (23 Valent)     1.269430  193.0
13357  Spiolto Respimat_Inha2.5/2.5mcg(60D)+Dev     1.269231   52.0

In [103]:
#script_growth = [("Butec_Transdermal Patch 5mcg\/hr", 3.4677419355, 62.0)] * 100

In [104]:
script_growth = [item[1:] for item in script_growth.itertuples()]

In [105]:
script_growth

[('Butec_Transdermal Patch 5mcg/hr', 3.467741935483871, 62.0),
 ('Butec_Transdermal Patch 10mcg/hr', 3.0, 69.0),
 ('Fostair NEXThaler_Inh 200mcg/6mcg (120D)', 1.430232558139535, 86.0),
 ('Pneumococcal_Vac 0.5ml Vl (23 Valent)', 1.2694300518134716, 193.0),
 ('Spiolto Respimat_Inha2.5/2.5mcg(60D)+Dev', 1.2692307692307692, 52.0),
 ('Trulicity_Inj 1.5mg/0.5ml Pf Pen', 1.1851851851851851, 54.0),
 ('CosmoCol_Paed Oral Pdr Sach 6.9g', 1.1774193548387097, 62.0),
 ('Dulaglutide_Inj 1.5mg/0.5ml Pf Dev', 0.9634146341463414, 82.0),
 ('ViATIM_Vac D/Chamber 160u/25mcg 1ml Pfs', 0.912, 125.0),
 ('Empagliflozin_Tab 25mg', 0.896, 125.0),
 ('CareSens Lancets 0.31mm/30 Gauge', 0.8955223880597015, 67.0),
 ('Fostair_Inh 200mcg/6mcg (120D) CFF', 0.8616600790513834, 253.0),
 ('Orbis Nor Saline Sod Chlor 0.9% Nsl Dps', 0.8588235294117647, 85.0),
 ('Umeclidinium Brom_Inh 65mcg (30D)', 0.8275862068965517, 87.0),
 ('Ultibro Breezhaler_Pdr Inh Cap + Dev', 0.8016528925619835, 121.0),
 ('Medihoney_Barrier Crm', 0.7840909090909091, 88.0),
 ('Fluoxetine HCl_Oral Soln 20mg/5ml S/F', 0.7808219178082192, 73.0),
 ('TEE2 (Reagent)_Strips', 0.7777777777777778, 81.0),
 ('Zaluron XL_Tab 400mg', 0.7586206896551724, 58.0),
 ('Laxido_Paed Plain Oral Pdr Sach 6.9g', 0.7586206896551724, 174.0),
 ('Prednisolone_Oral Soln 5mg/5ml Ud', 0.726027397260274, 73.0),
 ('Buprenorphine_Patch 15mcg/hr (7day)', 0.7155963302752294, 109.0),
 ('Coloplast_SenSura Mio Maxi Drnbl Bag S/C', 0.7037037037037037, 81.0),
 ('Octenisan_Antimicrobial Wsh Lot', 0.7027027027027027, 74.0),
 ('Duaklir Genuair_340mcg/12mcg (60D)', 0.6710526315789473, 152.0),
 ('Sod Chlor_Inh Soln 0.9% 2.5ml Ud Amp', 0.6419753086419753, 162.0),
 ('Coloplast_SenSura Mio Maxi Drnbl Bag L/C', 0.6274509803921569, 51.0),
 ('Flutiform_Inha 50/5mcg (120 D)', 0.625, 88.0),
 ('Ins Degludec_100u/ml 3ml Pf Pen', 0.6166666666666667, 60.0),
 ('CareSens Lancets 0.36mm/28 Gauge', 0.6111111111111112, 90.0),
 ('Epimax Crm 500g', 0.61, 100.0),
 ('Evacal D3_Tab Chble 400u/1.5g', 0.6046511627906976, 86.0),
 ('Shortec_Cap 20mg', 0.6029411764705882, 68.0),
 ('Co-Trimoxazole_Oral Susp 40/200mg/5mlS/F', 0.6, 50.0),
 ('Ciprofloxacin_Gran For Susp 250mg/5ml', 0.5921052631578947, 76.0),
 ('AgaMatrix Ultra-Thin Lancets 0.35mm/28 G', 0.5660377358490566, 53.0),
 ('Zemtard 120 XL_Cap 120mg', 0.5636363636363636, 55.0),
 ('Nutramigen 2 + LGG_Pdr', 0.5604395604395604, 91.0),
 ('Toujeo_300u/ml 1.5ml Pf SoloStar Pen', 0.5408805031446541, 159.0),
 ('Ins Tresiba_FlexTouch 100u/ml 3ml Pf Pen', 0.5405405405405406, 148.0),
 ('Longtec_Tab 30mg M/R', 0.5370370370370371, 108.0),
 ('Adalat_Cap 5mg', 0.5365853658536586, 82.0),
 ('Dexameth_Oral Soln 2mg/5ml S/F', 0.5294117647058824, 68.0),
 ('Haloperidol_Inj 5mg/ml 1ml Amp', 0.5288461538461539, 104.0),
 ('Lyclear_Dermal Crm 5%', 0.5211267605633803, 71.0),
 ('Valupak_Multivit & Mineral Tab OAD', 0.5098039215686274, 51.0),
 ('Coloplast_Sensura Mio Maxi Clsd Bag + Fl', 0.5056179775280899, 89.0),
 ('Medikinet XL_Cap 10mg', 0.48484848484848486, 99.0),
 ('Dovobet_Gel Applic', 0.48148148148148145, 54.0),
 ('Incruse Ellipta_Inh 55mcg (30D)', 0.4807692307692308, 208.0),
 ('Oxycodone HCl_Tab 20mg M/R', -0.4318181818181818, 264.0),
 ('Cardura XL_Tab 4mg', -0.43478260869565216, 69.0),
 ('Oxycodone HCl_Tab 80mg M/R', -0.4358974358974359, 78.0),
 ('Verapamil HCl_Cap 120mg M/R', -0.43790849673202614, 153.0),
 ('Topamax_Tab 100mg', -0.45161290322580644, 62.0),
 ('Opticrom_Allergy Eye Dps 2%', -0.4523809523809524, 126.0),
 ('Optilast_Eye Dps 0.05%', -0.45454545454545453, 55.0),
 ('Actonel_Once a Week Tab 35mg', -0.4576271186440678, 59.0),
 ('Premique_Tab 0.625mg/5mg', -0.47039473684210525, 304.0),
 ('Sunsense_Daily Face Crm Spf 50+', -0.48344370860927155, 151.0),
 ('Hydrocort/Crotamiton_Crm 0.25%/10%', -0.48936170212765956, 141.0),
 ('Azelastine HCl_Aq Eye Dps 0.05%', -0.5036231884057971, 276.0),
 ('Opticrom_Eye Dps 2% (Aq)', -0.5073891625615764, 203.0),
 ('Metoprolol Tart_Tab 200mg M/R', -0.509090909090909, 55.0),
 ('Rapitil_Eye Dps 2%', -0.5096774193548387, 155.0),
 ('Desloratadine_Oral Soln 2.5mg/5ml S/F', -0.5147058823529411, 136.0),
 ('Erythromycin_Ethylsuc Tab 500mg', -0.5154639175257731, 97.0),
 ('Aquacel Foam Adhesive 8cm x 8cm Wound Dr', -0.5294117647058824, 68.0),
 ('Zirtek_Allergy Tab 10mg', -0.5303030303030303, 66.0),
 ('Antaz Sulf/Xylomet_Eye Dps 0.5%/0.05%', -0.5454545454545454, 66.0),
 ('Vital 1.5kcal_Liq (Vanilla)', -0.5466666666666666, 75.0),
 ('Oxybutynin HCl_Oral Soln 2.5mg/5ml S/F', -0.5573770491803278, 61.0),
 ('Prazosin HCl_Tab 500mcg', -0.5581395348837209, 86.0),
 ('Artificial Saliva_Spy 50ml', -0.5586854460093896, 213.0),
 ('Sunsense_Ultra Lot Spf 50+', -0.5652173913043478, 368.0),
 ('Telfast 120_Tab 120mg', -0.5698924731182796, 93.0),
 ('Otrivine-Antistin_Eye Dps', -0.572463768115942, 138.0),
 ('Fexofenadine HCl_Tab 30mg', -0.5959595959595959, 297.0),
 ('Mag Trisil_Mix', -0.6119402985074627, 67.0),
 ('Glibenclamide_Tab 5mg', -0.6164383561643836, 146.0),
 ('Co-Danthrusate_Cap 50mg/60mg', -0.6296296296296297, 81.0),
 ('Ketotifen Fumar_Eye Dps 250mcg/ml', -0.6842105263157895, 57.0),
 ('Uvistat_Sun Crm Spf 50', -0.6917293233082706, 133.0),
 ('Haelan_Tape 7.5cm x 50cm', -0.7130434782608696, 115.0),
 ('Haelan_Tape 7.5cm x 20cm', -0.72, 100.0),
 ('Beconase_Hayfever Nsl Spy 50mcg (180 D)', -0.7384615384615385, 65.0),
 ('Uvistat_Sun Crm Spf 30', -0.7647058823529411, 68.0),
 ('Deep Freeze_Cold Gel 2%', -0.7758620689655172, 58.0),
 ('Adizem-SR_Tab 120mg', -0.8269230769230769, 52.0),
 ('Anugesic HC_Crm', -0.8541666666666666, 96.0),
 ('Sunsense_Sunsensitive Crm SPF 50+', -0.8562091503267973, 153.0),
 ('Hepatyrix_Vac 1440u/25mcg/ml 1ml Pfs', -0.875, 216.0),
 ('Climagest_Tab 2mg', -0.8939393939393939, 66.0),
 ('Climaval_Tab 2mg', -0.9015151515151515, 132.0),
 ('Orphenadrine HCl_Tab 50mg', -0.9117647058823529, 102.0),
 ('Hydroxyzine HCl_Oral Soln 10mg/5ml', -0.9148936170212766, 94.0),
 ('Ovysmen_Tab', -0.9253731343283582, 67.0),
 ('Climaval_Tab 1mg', -0.9264705882352942, 136.0),
 ('Climesse_Tab', -0.9420289855072463, 69.0),
 ('Polyalc_Eye Dps 1.4%', -0.9963235294117647, 272.0)]

In [106]:
grader.score.dw__script_growth(script_growth)

==================
Error!
You have been rate limited for exceeding the limit of 3 per 1 minute.
Please slow down your submission rate.
==================

## Question 6: rare_scripts

Does a practice's prescription costs originate from routine care or from reliance on rarely prescribed treatments? Commonplace treatments can carry lower costs than rare treatments because of efficiencies in large-scale production. While some specialist practices can't help but avoid prescribing rare medicines because there are no alternatives, some practices may be prescribing a unnecessary amount of brand-name products when generics are available. Let's identify practices whose costs disproportionately originate from rarely prescribed items.

First we have to identify which `'bnf_code'` are rare. To do this, find the probability $p$ of a prescription having a particular `'bnf_code'` if the `'bnf_code'` was randomly chosen from the unique options in the beneficiary data. We will call a `'bnf_code'` rare if it is prescribed at a rate less than $0.1p$.

In [122]:
len(scripts['bnf_code'])

973193

In [123]:
scripts['bnf_code'].unique()

array(['0106020C0', '0106040M0', '0301011R0', ..., '0606010T0',
       '237541075', '236041060'], dtype=object)

In [124]:
p = 1/scripts['bnf_code'].nunique()

In [125]:
p

0.0005063291139240507

In [126]:
set(scripts['bnf_code'])

{'210109004',
 '1105000S0',
 '212700017',
 '0402010S0',
 '0403030P0',
 '091104000',
 '239407096',
 '0901030N0',
 '0204000E0',
 '1305020F0',
 '0501013C0',
 '0505020L0',
 '0205052I0',
 '1001010AM',
 '0103030S0',
 '0906040N0',
 '0603020T0',
 '1203040G0',
 '1203030F0',
 '229034090',
 '0410010B0',
 '0101010C0',
 '0308000B0',
 '213000004',
 '1305030C0',
 '010701000',
 '231534515',
 '226034560',
 '0106020P0',
 '0205051H0',
 '210102301',
 '233541037',
 '0407042Q0',
 '0106040L0',
 '0205051AA',
 '1404000AL',
 '213900001',
 '0601023AH',
 '1314000H0',
 '200306001',
 '1203040I0',
 '0401010T0',
 '040101000',
 '0304010AB',
 '220210005',
 '0601060D0',
 '0205052W0',
 '0905011D0',
 '231560015',
 '201000002',
 '0501090N0',
 '0703050B0',
 '0304010AC',
 '0407041AB',
 '1302010E0',
 '0406000G0',
 '0204000I0',
 '0206010F0',
 '1404000L0',
 '0410030C0',
 '1310030C0',
 '0403040Z0',
 '1310011W0',
 '200202008',
 '233010530',
 '0406000L0',
 '0205051U0',
 '0106040J0',
 '1106000AK',
 '200309002',
 '0607010T0',
 '230541005',
 '200309003',
 '238534585',
 '0206040AF',
 '233059511',
 '0103050E0',
 '1104020B0',
 '213000008',
 '1310040Q0',
 '0501120Y0',
 '1003020I0',
 '200503002',
 '238002980',
 '0206020L0',
 '1309000H0',
 '232007020',
 '0408010AF',
 '234559045',
 '210120001',
 '1307000V0',
 '229021990',
 '0408010H0',
 '0410030B0',
 '212100000',
 '225017550',
 '213300001',
 '0309020I0',
 '1404000AI',
 '0901020N0',
 '0206020R0',
 '0103050L0',
 '0408010AK',
 '1304000C0',
 '0601011P0',
 '200502001',
 '0502010C0',
 '0104020P0',
 '0906040P0',
 '0302000C0',
 '0501070AE',
 '0902012L0',
 '233041530',
 '0206020M0',
 '200304003',
 '0908010N0',
 '223005030',
 '239259092',
 '0209000Y0',
 '1001040K0',
 '1306010AB',
 '200502002',
 '0101010Q0',
 '1308010Z0',
 '0904010E0',
 '1311060I0',
 '0102000X0',
 '210705102',
 '0105010B0',
 '1203030B0',
 '220238305',
 '0408010C0',
 '239607096',
 '0603020I0',
 '0504010L0',
 '1305020T0',
 '0501030I0',
 '0206040AG',
 '0605010S0',
 '0408010G0',
 '1106000B0',
 '236010062',
 '236007061',
 '0501080J0',
 '236048060',
 '0103030W0',
 '120304000',
 '0602010Z0',
 '0105020D0',
 '0307000C0',
 '229029590',
 '0106010N0',
 '210109008',
 '0802010M0',
 '0402010X0',
 '0901020G0',
 '0103010D0',
 '0408010Y0',
 '0604020K0',
 '220524005',
 '226007560',
 '1310050M0',
 '0802020U0',
 '0202010V0',
 '232510825',
 '213000003',
 '0108010S0',
 '238506085',
 '0803041AA',
 '230510090',
 '1404000AF',
 '225060550',
 '0205051E0',
 '0302000U0',
 '213000002',
 '0704020AC',
 '0407020H0',
 '0106040N0',
 '1103010G0',
 '0205040V0',
 '0501080D0',
 '232009020',
 '236034561',
 '1108020U0',
 '239448096',
 '030800000',
 '239410098',
 '211900000',
 '0202010L0',
 '0402020G0',
 '1202010A0',
 '130502000',
 '1201020Q0',
 '210122001',
 '0604020D0',
 '0101010P0',
 '0205051R0',
 '0803042S0',
 '0206030Y0',
 '236033562',
 '233504535',
 '0605020E0',
 '0205040D0',
 '239634596',
 '0402010L0',
 '010300000',
 '231533515',
 '1305010AF',
 '0304010AG',
 '0404000V0',
 '0105020G0',
 '239604596',
 '200306002',
 '0205052Q0',
 '1107000M0',
 '232502625',
 '0202010P0',
 '1202010P0',
 '090401060',
 '0407010P0',
 '200900008',
 '0402010A0',
 '0503010AA',
 '090504800',
 '1001010C0',
 '0411000E0',
 '0501012G0',
 '1311010I0',
 '0606020R0',
 '226026560',
 '0308000M0',
 '0408010Z0',
 '040201030',
 '230565005',
 '131003000',
 '0402010C0',
 '0206010K0',
 '0409010K0',
 '1306010A0',
 '234510645',
 '200202010',
 '040201060',
 '0204000C0',
 '0407020C0',
 '1201010G0',
 '231533615',
 '1001030AA',
 '1108010A0',
 '0304010Y0',
 '0905013G0',
 '0101010J0',
 '229034091',
 '0906012B0',
 '1203030M0',
 '228024080',
 '210115001',
 '226053060',
 '202000003',
 '233001030',
 '233024030',
 '0504010T0',
 '200900006',
 '200304002',
 '200304001',
 '0206040AH',
 '1202020C0',
 '0901030E0',
 '226050560',
 '200301001',
 '0408010AE',
 '0101021B0',
 '0504010Y0',
 '0402020AD',
 '213800001',
 '1103010AI',
 '0408010I0',
 '0406000W0',
 '0501070AB',
 '0102000A0',
 '0407020G0',
 '0603020J0',
 '131002030',
 '0401030T0',
 '0208020Z0',
 '201200002',
 '0301040W0',
 '0205052R0',
 '0501011J0',
 '0202040T0',
 '0802020T0',
 '236056062',
 '1201010B0',
 '0202010B0',
 '0501023A0',
 '0301020Q0',
 '1106000X0',
 '0103010N0',
 '0501080V0',
 '1001030Q0',
 '0204000V0',
 '0106040X0',
 '200308000',
 '0604030Q0',
 '1404000N0',
 '0505060I0',
 '0802040J0',
 '211600001',
 '0310000N0',
 '0402020AB',
 '0202040H0',
 '0205051F0',
 '201000007',
 '0901011W0',
 '233507038',
 '0606020W0',
 '0801030L0',
 '1307000Q0',
 '212700003',
 '0407020M0',
 '1201010H0',
 '1003020Y0',
 '0205051AC',
 '0905022T0',
 '190500000',
 '0409010AB',
 '0401010D0',
 '1203010E0',
 '200302000',
 '0402030K0',
 '0406000R0',
 '238006080',
 '0207030A0',
 '0301040R0',
 '210400004',
 '1001010K0',
 '0409010W0',
 '214601000',
 '0304010N0',
 '0601023AD',
 '236041064',
 '1203020H0',
 '210705301',
 '0601023AJ',
 '233501037',
 '225024050',
 '230559005',
 '090501300',
 '0704050R0',
 '0501015P0',
 '0904010AI',
 '090601100',
 '200301002',
 '239401096',
 '233010232',
 '0402010J0',
 '020400030',
 '1001030F0',
 '1310020J0',
 '0605010T0',
 '238510085',
 '1311040T0',
 '1306010I0',
 '236041060',
 '0601021P0',
 '236001063',
 '1104020AB',
 '200302002',
 '0601023AA',
 '0101012B0',
 '0301011X0',
 '0106060B0',
 '213700001',
 '1303000E0',
 '1104010V0',
 '1001010AG',
 '229007590',
 '0803041C0',
 '1202020P0',
 '200309001',
 '200313000',
 '0601023W0',
 '201000003',
 '229038990',
 '0601023AU',
 '0601023AC',
 '200329000',
 '0106020L0',
 '200505000',
 '238009080',
 '234665046',
 '0202040G0',
 '221510015',
 '1103010AG',
 '0601012Z0',
 '0904010AA',
 '1914010A0',
 '0601023AF',
 '1201010AC',
 '231520815',
 '1104020M0',
 '1310040V0',
 '0902021X0',
 '0402010AI',
 '0401030H0',
 '1501030H0',
 '0102000AC',
 '0905013N0',
 '0407010Q0',
 '1203010C0',
 '234633546',
 '0704020AA',
 '0401020K0',
 '0105020B0',
 '0407020AF',
 '0202010Y0',
 '0704020J0',
 '1305020D0',
 '1108010B0',
 '090401090',
 '0104020N0',
 '239610097',
 '231507015',
 '1202030S0',
 '1108010C0',
 '220560505',
 '0603010I0',
 '1003020N0',
 '0403010B0',
 '1305020A0',
 '238548085',
 '239630597',
 '0101010N0',
 '236004561',
 '226017560',
 '120202000',
 '0704020G0',
 '236030561',
 '0906025P0',
 '1306010C0',
 '210706301',
 '0411000G0',
 '1302020B0',
 '1311060Q0',
 '200316000',
 '233533536',
 '0601040I0',
 '0801010H0',
 '0402030R0',
 '0403020M0',
 '0502010B0',
 '0604012S0',
 '210200014',
 '0904010AC',
 '228034080',
 '1106000AH',
 '0401010R0',
 '200310000',
 '1202010Y0',
 '225001050',
 '238031080',
 '0402010I0',
 '0407010AC',
 '0501022A0',
 '0503010Q0',
 '0302000K0',
 '0204000H0',
 '1306010H0',
 '1310040M0',
 '0904010H0',
 '234522545',
 '200301004',
 '0401010B0',
 '211200001',
 '0905013F0',
 '226007060',
 '0904010AK',
 '1302010F0',
 '210706101',
 '0203020D0',
 '200317000',
 '239448099',
 '020400060',
 '0301011Z0',
 '213500001',
 '1104020W0',
 '1302010Y0',
 '0911010T0',
 '0408010AJ',
 '1404000W0',
 '0902011P0',
 '1304000L0',
 '1303000AA',
 '0205053A0',
 '1001022Y0',
 '0703022P0',
 '1202030R0',
 '0106010E0',
 '1202010C0',
 '238065580',
 '0906040K0',
 '0402010AD',
 '0403010X0',
 '0102000Y0',
 '210601002',
 '0209000V0',
 '0604011G0',
 '0501021A0',
 '0309010C0',
 '237533775',
 '220561505',
 '0205052N0',
 '1203010Q0',
 '200900005',
 '1309000I0',
 '0409020N0',
 '1502010I0',
 '0802020G0',
 '0212000AA',
 '1302010U0',
 '1302020E0',
 '0704010A0',
 '0107010Z0',
 '0202040D0',
 '090900000',
 '0205010N0',
 '200317002',
 '1304000P0',
 '0908010T0',
 '1310012Q0',
 '1001022K0',
 '0601023AL',
 '228534980',
 '1201030F0',
 '0901060I0',
 '0102000K0',
 '1404000AH',
 '1001010AJ',
 '1304000N0',
 '234544045',
 '231533715',
 '212700007',
 '0901030K0',
 '0408010D0',
 '0409010AA',
 '239410097',
 '0406000E0',
 '1303000D0',
 '0604020F0',
 '0703022M0',
 '0803020L0',
 '0906026M0',
 '239410100',
 '0203020P0',
 '0908010E0',
 '0906031C0',
 '200501001',
 '239010090',
 '0202010J0',
 '1002010Q0',
 '234604546',
 '091101000',
 '1108020AF',
 '0302000N0',
 '0205052A0',
 '231548015',
 '235524055',
 '233010831',
 '0109010U0',
 '0211000P0',
 '1307000K0',
 '0401010AC',
 '0501013B0',
 '0604011AD',
 '224029540',
 '0406000AD',
 '0904010AQ',
 '223039530',
 '232001020',
 '0205020E0',
 '212700014',
 '0206020B0',
 '130802000',
 '1310050J0',
 '221504515',
 '0603020C0',
 '200315000',
 '0202020D0',
 '0310000Q0',
 '0105020A0',
 '0905013P0',
 '0501090Q0',
 '0906040G0',
 '0409020E0',
 '233507037',
 '0604020U0',
 '090401080',
 '0603020S0',
 '1002020T0',
 '0102000J0',
 '232048020',
 '233510635',
 '0905030G0',
 '0205051G0',
 '0601023AR',
 '0803041L0',
 '0403040S0',
 '0206020F0',
 '0501070T0',
 '239656096',
 '0401010P0',
 '234648046',
 '0106070C0',
 '0204000U0',
 '0409030C0',
 '0408010AB',
 '0904010I0',
 '200314000',
 '0202040U0',
 '228010080',
 '0601011L0',
 '0204000P0',
 '1310050D0',
 '1310011M0',
 '1001022U0',
 '0901020D0',
 '239641097',
 '0503021E0',
 '0704050Z0',
 '200301005',
 '100101040',
 '0904010X0',
 '0607010C0',
 '0202030S0',
 '0301040V0',
 '1001030J0',
 '0601012V0',
 '210602001',
 '0704030J0',
 '231501015',
 '200900002',
 '0408010AA',
 '0202010F0',
 '211800000',
 '0407020B0',
 '0212000M0',
 '0601040H0',
 '0902021Q0',
 '1306010Y0',
 '210200010',
 '238047080',
 '1001010AE',
 '0407010W0',
 '0501070M0',
 '0401020B0',
 '210701009',
 '0503040B0',
 '0402010T0',
 '236001062',
 '200503004',
 '210112004',
 '0407041T0',
 '239056090',
 '0302000R0',
 '1306010F0',
 '0501013L0',
 '1203010K0',
 '234560045',
 '090401050',
 '0304010K0',
 '0601012U0',
 '1305020V0',
 '0406000U0',
 '201000006',
 '212700006',
 '1108010Z0',
 '1002020J0',
 '231509015',
 '0704050AD',
 '200202009',
 '239632496',
 '0404000M0',
 '0803043P0',
 '1105000B0',
 '0703010S0',
 '0901011P0',
 '200325000',
 '0409020C0',
 '1404000F0',
 '1106000AM',
 '220510005',
 '200402001',
 '0601021A0',
 '0303020Z0',
 '091102000',
 '0212000L0',
 '226061560',
 '212700015',
 '238020880',
 '210113002',
 '200900011',
 '234533745',
 '0212000AJ',
 '0501030L0',
 '1302011M0',
 '190605000',
 '0407041B0',
 '239448097',
 '238033780',
 '090401020',
 '0703022N0',
 '0704020AB',
 '232510525',
 '1106000K0',
 '1001010S0',
 '0101010G0',
 '0501110G0',
 '0409030P0',
 '1001030U0',
 '200301000',
 '200321001',
 '210200013',
 '239648096',
 '0403010Y0',
 '0209000Z0',
 '0607010B0',
 '0406000F0',
 '0601023AN',
 '200302001',
 '0702020H0',
 '1108020AH',
 '0904010Q0',
 '233510037',
 '1203010M0',
 '239004590',
 '0906040C0',
 '210101001',
 '1304000S0',
 '210704101',
 '210200005',
 '200202006',
 '231001010',
 '1404000S0',
 '0601023Z0',
 '239201092',
 '238524085',
 '229006090',
 '200312000',
 '0103010H0',
 '0401020R0',
 '200202002',
 '0904010U0',
 '1404000G0',
 '0406000V0',
 '0704020AE',
 '236056060',
 '230533705',
 '1108030AA',
 '0801030P0',
 '0904010AP',
 '1902070A0',
 '1108010Q0',
 '0402030Q0',
 '0212000D0',
 '191300000',
 '210200009',
 '0501013K0',
 '200700001',
 '190400000',
 '1311070S0',
 '0601023AM',
 '0403010N0',
 '0101010I0',
 '200321000',
 '234510045',
 '0206020K0',
 '233504537',
 '0206020T0',
 '233548036',
 '1404000U0',
 '0703010P0',
 '0205020M0',
 '140400030',
 '238001080',
 '233034530',
 '0602010M0',
 '236010063',
 '210112002',
 '210109006',
 '212700019',
 '238010080',
 '0501050C0',
 '210200002',
 '0704020P0',
 '0704010V0',
 '225007550',
 '0410030D0',
 '0605010N0',
 '200403003',
 '238030480',
 '1106000AF',
 '090602700',
 '0501090K0',
 '130900000',
 '1501043A0',
 '0307000J0',
 '238033680',
 '130202000',
 '0601023AG',
 '0103040M0',
 '0602020G0',
 '0204000N0',
 '0304010E0',
 '1003020R0',
 '1106000AI',
 '220517505',
 '1309000F0',
 '1203010U0',
 '0304010H0',
 '212700008',
 '1002020C0',
 '239401097',
 '0601023U0',
 '0205051P0',
 '040801060',
 '0401020T0',
 '0403040X0',
 '0501021G0',
 '226048060',
 '120101050',
 '0205051Z0',
 '0601021X0',
 '200403004',
 '0208010K0',
 '0208010N0',
 '0205052Y0',
 '200202007',
 '190700000',
 '130801000',
 '100101080',
 '1001040A0',
 '239456095',
 '0409010B0',
 '0107020P0',
 '0301040X0',
 '1202010W0',
 '1311030A0',
 '0802010N0',
 '0606020A0',
 '210400002',
 '0604012M0',
 '210200007',
 '1302010Z0',
 '234609046',
 '0607020C0',
 '0208010W0',
 '0208020V0',
 '0103050P0',
 '0304010I0',
 '212700010',
 '0702020T0',
 '1303000M0',
 '226056060',
 '228050580',
 '228039580',
 '210601001',
 '213000006',
 '020400080',
 '200503001',
 '0501070W0',
 '0106020M0',
 '1003020AA',
 '0904010A0',
 '1304000B0',
 '237548075',
 '0703030G0',
 '239448094',
 '0101010L0',
 '0406000A0',
 '231530615',
 '238033580',
 '0301040Y0',
 '0703010M0',
 '239041090',
 '0208020AA',
 '224012540',
 '1001010AD',
 '236041061',
 '0601012D0',
 '0212000Q0',
 '1203040E0',
 '0408020V0',
 '1001010R0',
 '1310020N0',
 '0208010L0',
 '020400040',
 '0604011Q0',
 '1001010T0',
 '0304010D0',
 '0406000B0',
 '212700011',
 '200312001',
 '224023540',
 '0101010R0',
 '200324000',
 '1103010C0',
 '210108001',
 '0501021H0',
 '0411000D0',
 '0501030P0',
 '0406000D0',
 '0906011D0',
 '233501036',
 '0403030X0',
 '0105020C0',
 '1107000N0',
 '1104020R0',
 '233556038',
 '0704040D0',
 '1104020N0',
 '0905022C0',
 '0908010AL',
 '0904010AM',
 '010602000',
 '0206040AI',
 '0401010Z0',
 '0503021A0',
 '0605010G0',
 '210125001',
 '200317001',
 '232506025',
 '0803042H0',
 '0410020D0',
 '0406000AF',
 '1309000G0',
 '0501011P0',
 '010102100',
 '0203020I0',
 '200202011',
 '0309020H0',
 '0604011Y0',
 '1311040K0',
 '1203050A0',
 '238041080',
 '0502020A0',
 '0904010V0',
 '0501130H0',
 '234633746',
 '238034580',
 '0501040U0',
 '1310050K0',
 '0407041Z0',
 '0206030N0',
 '1302010M0',
 '0504040M0',
 '1306010AC',
 '0202020L0',
 '212700001',
 '224041040',
 '0104030A0',
 '1108020AG',
 '0402020L0',
 '0803042K0',
 '0403020K0',
 '0303020G0',
 '0407010N0',
 '239407097',
 '0408010AL',
 '210300003',
 '1203030A0',
 '210200006',
 '233501035',
 '0301011U0',
 '1001040P0',
 '0501030F0',
 '200306000',
 '0501030T0',
 '1001050A0',
 '234530645',
 '0703023L0',
 '0411000F0',
 '040801020',
 '0106050B0',
 '239633596',
 '0206040X0',
 '200305000',
 '0604011K0',
 '1309000X0',
 '0106030A0',
 '0703021L0',
 '0304010A0',
 '0301011B0',
 '0502010D0',
 '0212000F0',
 '0407020AG',
 '223009030',
 '238509085',
 '0106050M0',
 '1502010J0',
 '1304000Y0',
 '0603020AA',
 ...}

In [127]:
len(set(scripts['bnf_code']))

1975

In [128]:
p = 1 / len(set(scripts['bnf_code']))

In [129]:
p

0.0005063291139240507

In [130]:
scripts['bnf_code'].value_counts()

0906040G0    14442
090402000    10721
0302000N0     9940
130201000     8602
0601060D0     8563
             ...
1501030D0        1
0501022B0        1
1001022G0        1
0604011H0        1
210601002        1
Name: bnf_code, Length: 1975, dtype: int64

In [131]:
scripts['bnf_code'].count()

973193

In [132]:
rates = scripts['bnf_code'].value_counts() / scripts['bnf_code'].count()

In [133]:
rates

0906040G0    0.014840
090402000    0.011016
0302000N0    0.010214
130201000    0.008839
0601060D0    0.008799
               ...
1501030D0    0.000001
0501022B0    0.000001
1001022G0    0.000001
0604011H0    0.000001
210601002    0.000001
Name: bnf_code, Length: 1975, dtype: float64

In [138]:
rates = scripts['bnf_code'].value_counts(normalize=True)

In [139]:
rates

0906040G0    0.014840
090402000    0.011016
0302000N0    0.010214
130201000    0.008839
0601060D0    0.008799
               ...
1501030D0    0.000001
0501022B0    0.000001
1001022G0    0.000001
0604011H0    0.000001
210601002    0.000001
Name: bnf_code, Length: 1975, dtype: float64

In [134]:
rare_codes = set(rates[rates < 0.1*p].index)

In [135]:
rare_codes

{'0101010C0',
 '0101010F0',
 '0101010I0',
 '0101010J0',
 '0101010N0',
 '0101010P0',
 '0101010Q0',
 '0101012B0',
 '010102100',
 '0101021C0',
 '0102000AC',
 '0102000D0',
 '010300000',
 '0103020P0',
 '0103030W0',
 '0103040M0',
 '0104020H0',
 '0104020N0',
 '0104020P0',
 '0104030A0',
 '0105020C0',
 '0105020G0',
 '010602000',
 '0106020B0',
 '0106020J0',
 '0106030A0',
 '0106030P0',
 '0106040J0',
 '0106040L0',
 '0106040X0',
 '0106050B0',
 '0106050M0',
 '0106060B0',
 '0106070C0',
 '010701000',
 '0108010S0',
 '0109010R0',
 '0202010D0',
 '0202010J0',
 '0202010L0',
 '0202010Y0',
 '0202040G0',
 '0202040H0',
 '0202040T0',
 '0202040U0',
 '0202040V0',
 '0203020G0',
 '0203020P0',
 '0203020U0',
 '020400030',
 '0204000N0',
 '0204000P0',
 '0205010AB',
 '0205010Y0',
 '0205040I0',
 '0205040M0',
 '0205051AA',
 '0205051AB',
 '0205051AC',
 '0205051E0',
 '0205051G0',
 '0205051P0',
 '0205051S0',
 '0205052AC',
 '0205052AD',
 '0206020B0',
 '0206020I0',
 '0206020M0',
 '0206040AF',
 '0206040AI',
 '0207030A0',
 '0208010AB',
 '0208010K0',
 '0208010N0',
 '0208020I0',
 '0208020N0',
 '0212000A0',
 '0212000AJ',
 '0212000K0',
 '0301011B0',
 '0301011Z0',
 '0301012F0',
 '0302000R0',
 '0303010J0',
 '0303010Q0',
 '0303030B0',
 '0304010AG',
 '0304010H0',
 '0304010K0',
 '0304020P0',
 '030800000',
 '0308000B0',
 '0308000M0',
 '0309010L0',
 '030902040',
 '0309020B0',
 '0309020G0',
 '0309020H0',
 '0309020I0',
 '0309020R0',
 '0310000E0',
 '0310000Q0',
 '040101000',
 '0401010AC',
 '0401010C0',
 '0401010D0',
 '0401020R0',
 '0401030E0',
 '0401030H0',
 '0401030T0',
 '0402010AE',
 '0402010AI',
 '0402010B0',
 '0402010C0',
 '0402010I0',
 '0402010P0',
 '0402010Q0',
 '0402010R0',
 '0402020AD',
 '0402020V0',
 '0402030P0',
 '0402030R0',
 '0403010T0',
 '0403020H0',
 '0403020Q0',
 '0403040S0',
 '0404000V0',
 '0406000AC',
 '0406000AD',
 '0406000AF',
 '0406000E0',
 '0406000M0',
 '0406000R0',
 '0406000W0',
 '040701000',
 '0407010AC',
 '0407010M0',
 '0407010W0',
 '0407010X0',
 '0407020H0',
 '0407020T0',
 '0407041F0',
 '0407041U0',
 '0408010AA',
 '0408010AB',
 '0408010AG',
 '0408010AJ',
 '0408010AL',
 '0408010Y0',
 '0408020Q0',
 '0409010AA',
 '0409010AB',
 '0409010P0',
 '0409010S0',
 '0409010U0',
 '0409020E0',
 '0409030B0',
 '0409030P0',
 '0410010D0',
 '0410020D0',
 '0410030B0',
 '0410030D0',
 '0501011J0',
 '0501013C0',
 '0501013E0',
 '0501021B0',
 '0501021C0',
 '0501021G0',
 '0501021H0',
 '0501021K0',
 '0501022A0',
 '0501022B0',
 '0501023A0',
 '0501030F0',
 '0501040H0',
 '0501040N0',
 '0501040U0',
 '0501070AB',
 '0501070F0',
 '0501070M0',
 '0501070N0',
 '0501070T0',
 '0501070U0',
 '0501070W0',
 '0501080J0',
 '0501080V0',
 '0501090H0',
 '0501090N0',
 '0501090Q0',
 '0501090S0',
 '0501110G0',
 '0501120Q0',
 '0501120Y0',
 '0502010D0',
 '0502020A0',
 '0502030A0',
 '0502050B0',
 '0503010AA',
 '0503010G0',
 '0503010H0',
 '0503010Q0',
 '0503021D0',
 '0503021E0',
 '0503022B0',
 '0503031B0',
 '0504010F0',
 '0504010L0',
 '0504010N0',
 '0504010U0',
 '0504040M0',
 '0505020L0',
 '0505030A0',
 '0505050P0',
 '0505060I0',
 '0601012G0',
 '0601012U0',
 '0601023AH',
 '0601023AL',
 '0601023AP',
 '0601023AR',
 '0601040E0',
 '0602010Z0',
 '0602020G0',
 '0603020AA',
 '0603020F0',
 '0603020H0',
 '0603020I0',
 '0603020L0',
 '0603020M0',
 '0603020S0',
 '0603020X0',
 '0604011AD',
 '0604011D0',
 '0604011H0',
 '0604011J0',
 '0604020D0',
 '0604020F0',
 '0604020M0',
 '0604030Q0',
 '0605010D0',
 '0605010G0',
 '0605010N0',
 '0605010T0',
 '0605020Y0',
 '0606010T0',
 '0606010U0',
 '060602000',
 '0606020Y0',
 '0607010T0',
 '0607020C0',
 '0607020P0',
 '0607020Y0',
 '0607030M0',
 '0702020H0',
 '0702020T0',
 '0703010M0',
 '0703010R0',
 '0703010S0',
 '0703022N0',
 '0703030G0',
 '0704010C0',
 '0704010I0',
 '070403000',
 '0704030J0',
 '0704040D0',
 '0704050AD',
 '0704050J0',
 '0704050Y0',
 '0704060A0',
 '0801000I0',
 '0801000T0',
 '0801010H0',
 '0801030P0',
 '0801030T0',
 '0802040AA',
 '0802040J0',
 '0803010K0',
 '0803041AA',
 '0803042H0',
 '0803042S0',
 '0803043P0',
 '0901012I0',
 '0901012K0',
 '0901030D0',
 '0901030E0',
 '0901030K0',
 '0901030N0',
 '0901030R0',
 '0901040A0',
 '0901060I0',
 '0902011L0',
 '0902011P0',
 '0902013P0',
 '0902021N0',
 '0902021Q0',
 '090401020',
 '090401050',
 '090401060',
 '0904010AE',
 '0904010AH',
 '0904010AI',
 '0904010AK',
 '0904010AL',
 '0904010AM',
 '0904010AN',
 '0904010AP',
 '0904010AR',
 '0904010AS',
 '0904010AT',
 '0904010E0',
 '0904010T0',
 '0904010V0',
 '0904010Z0',
 '0905011K0',
 '0905011R0',
 '090501300',
 '0905013F0',
 '0905013N0',
 '0905013P0',
 '0905022U0',
 '0905022W0',
 '090504100',
 '090504700',
 '090504800',
 '0905050A0',
 '090601100',
 '0906012B0',
 '090602200',
 '0906022K0',
 '090602400',
 '090602500',
 '0906025P0',
 '090602700',
 '090602800',
 '090603100',
 '090603200',
 '0906040K0',
 '0906040P0',
 '090605000',
 '0906050U0',
 '0908010AJ',
 '0908010AL',
 '0908010C0',
 '0908010E0',
 '0908010N0',
 '0908010P0',
 '0908010T0',
 '0908010Z0',
 '0911010T0',
 '100101040',
 '100101050',
 '100101080',
 '1001010AD',
 '1001010AE',
 '1001010AM',
 '1001010AP',
 '1001010I0',
 '1001010S0',
 '1001010T0',
 '1001022G0',
 '1001022Y0',
 '1001030AA',
 '1001030F0',
 '1001030J0',
 '1001030Q0',
 '1001040A0',
 '1001040K0',
 '1001040P0',
 '1001050A0',
 '1001050B0',
 '1002010M0',
 '1002020Y0',
 '1003020M0',
 '1003020Y0',
 '1103010AG',
 '1103010AI',
 '1103010E0',
 '1103010S0',
 '1103010X0',
 '1103030W0',
 '1104010V0',
 '110402000',
 '1104020AB',
 '1104020AC',
 '1104020R0',
 '1104020X0',
 '1104020Y0',
 '1105000P0',
 '1105000S0',
 '1106000AM',
 '1106000Y0',
 '1107000M0',
 '1107000N0',
 '1107000Q0',
 '1108010A0',
 '1108010AA',
 '1108010Q0',
 '1108020A0',
 '1108020AH',
 '1108020K0',
 '1108020U0',
 '1108030AA',
 '1201010AC',
 '1201010H0',
 '1202010P0',
 '120202000',
 '1203010C0',
 '1203010F0',
 '1203010S0',
 '1203010U0',
 '1203030A0',
 '1203030F0',
 '1203030J0',
 '1203030M0',
 '1203030N0',
 '120304000',
 '1203040C0',
 '1203040G0',
 '1203040I0',
 '1203040N0',
 '1301010I0',
 '1301010P0',
 '1302010M0',
 '1302010Z0',
 '1302020F0',
 '1302020G0',
 '130203000',
 '1303000B0',
 '1303000E0',
 '1303000F0',
 '1303000M0',
 '1303000Q0',
 '130400000',
 '1304000B0',
 '1304000C0',
 '130501000',
 '1305010AF',
 '130502000',
 '1305020R0',
 '1305020S0',
 '1305020T0',
 '1306010A0',
 '1306010N0',
 '1306010T0',
 '1306020J0',
 '1307000C0',
 '1307000F0',
 '1308010U0',
 '130900000',
 '1309000F0',
 '1309000G0',
 '1309000H0',
 '1310011AA',
 '1310020D0',
 '1310020J0',
 '1310020Y0',
 '1310020Z0',
 '131003000',
 '1310030L0',
 '131005000',
 '1310050H0',
 '1310050J0',
 '1310050K0',
 '131101000',
 '1311010A0',
 '1311010I0',
 '1311020G0',
 '1311040T0',
 '1311050E0',
 '1311050U0',
 '1311060I0',
 '1311070S0',
 '1312000G0',
 '131500000',
 '1315000G0',
 '140400050',
 '1404000AF',
 '1404000AH',
 '1404000AI',
 '1404000AL',
 '1404000AQ',
 '1404000E0',
 '1404000N0',
 '1404000U0',
 '1404000W0',
 '1404000X0',
 '1501030D0',
 '1501042E0',
 '1501043A0',
 '1501043F0',
 '1502010C0',
 '1502010P0',
 '190203000',
 '1902070A0',
 '1902070E0',
 '190400000',
 '190601000',
 '190900000',
 '191300000',
 '1914010A0',
 '191402000',
 '200100001',
 '200100002',
 '200201001',
 '200202002',
 '200202004',
 '200202005',
 '200202006',
 '200302002',
 '200304003',
 '200307000',
 '200309003',
 '200312001',
 '200315000',
 '200321000',
 '200321001',
 '200322000',
 '200324000',
 '200325000',
 '200329000',
 '200402001',
 '200402003',
 '200403003',
 '200403004',
 '200501001',
 '200502002',
 '200502003',
 '200502005',
 '200503003',
 '200503004',
 '200700001',
 '200800001',
 '200900001',
 '200900003',
 '200900006',
 '200900007',
 '200900011',
 '200900012',
 '201000001',
 '201000002',
 '201000003',
 '201100003',
 '201500000',
 '201700001',
 '202000003',
 '210101001',
 '210102201',
 '210108001',
 '210112003',
 '210112004',
 '210113002',
 '210115001',
 '210115004',
 '210120001',
 '210124001',
 '210200001',
 '210200004',
 '210200006',
 '210300001',
 '210300003',
 '210300004',
 '210300007',
 '210400004',
 '210601001',
 '210601002',
 '210602001',
 '210602002',
 '210602003',
 '210701009',
 '210703001',
 '210704201',
 '210705102',
 '210705201',
 '210705301',
 '211800000',
 '212500001',
 '212700005',
 '212700012',
 '212700013',
 '212700014',
 '212700016',
 '212700017',
 '212700018',
 '212700019',
 '212700020',
 '212700021',
 '213000002',
 '213000005',
 '213000006',
 '213000008',
 '213000009',
 '213300001',
 '213500001',
 '213600001',
 '213700001',
 '213900001',
 '214000001',
 '214200001',
 '214300001',
 '214601000',
 '214701000',
 '220210005',
 '220238305',
 '220509505',
 '220517505',
 '220520805',
 '220524005',
 '220526500',
 '220529505',
 '220548805',
 '220550505',
 '220560505',
 '220561505',
 '221504515',
 '221510015',
 '223005030',
 '223009030',
 '223020830',
 '223024030',
 '223029530',
 '224003040',
 '224010040',
 '224012540',
 '224023540',
 '224024040',
 '224029540',
 '224034040',
 '224041040',
 '224048040',
 '225001050',
 '225007550',
 '225017550',
 '225024050',
 '225029550',
 '225048850',
 '225060550',
 '225061550',
 '226004560',
 '226007560',
 '226017560',
 '226024060',
 '226029560',
 '226034560',
 '226041060',
 '226048060',
 '226048860',
 '226053060',
 '226056060',
 '226061560',
 '227024070',
 '227029570',
 '227048870',
 '228001080',
 '228007580',
 '228009580',
 '228023280',
 '228024080',
 '228029580',
 '228034080',
 '228039580',
 '228050580',
 '228061580',
 '228062080',
 '228534980',
 '229001090',
 '229006090',
 '229007590',
 '229021990',
 '229024090',
 '229029590',
 '229034090',
 '229034091',
 '229038990',
 '230506005',
 '230507005',
 '230510605',
 '230524005',
 '230533505',
 '230534505',
 '230559005',
 '230565005',
 '231001010',
 '231530615',
 '231533515',
 '231539315',
 '231559015',
 '232001020',
 '232007020',
 '232009020',
 '232010020',
 '232041020',
 '232048020',
 '232502625',
 '232506025',
 '232510525',
 '232510825',
 '232524025',
 '232533725',
 '232559525',
 '233001030',
 '233002631',
 '233004530',
 '233007030',
 '233010230',
 '233010231',
 '233010232',
 '233010530',
 '233010830',
 '233010831',
 '233024030',
 '233032430',
 '233034530',
 '233041030',
 '233041530',
 '233048030',
 '233056030',
 '233059030',
 '233059510',
 '233059511',
 '233501035',
 '233504535',
 '233504536',
 '233504537',
 '233510035',
 '233510036',
 '233510635',
 '233533535',
 '233533536',
 '233534535',
 '233541035',
 '233541036',
 '233541038',
 '233556035',
 '233556036',
 '233556037',
 '233559035',
 '234043040',
 '234506045',
 '234507045',
 '234510645',
 '234514545',
 '234522545',
 '234530645',
 '234534545',
 '234544045',
 '234559045',
 '234560045',
 '234604546',
 '234606046',
 '234610646',
 '234633546',
 '234633746',
 '234634546',
 '234648046',
 '234665046',
 '235010050',
 '235011050',
 '235033650',
 '235033750',
 '235512556',
 '235524055',
 '236001063',
 '236004561',
 '236007060',
 '236007061',
 '236010061',
 '236012562',
 '236024060',
 '236030561',
 '236033560',
 '236033561',
 '236034560',
 '236041060',
 '236041061',
 '236041063',
 '236041065',
 '236048060',
 '236048061',
 '236048062',
 '236056060',
 '236056061',
 '236056063',
 '236059060',
 '237001070',
 '237002770',
 '237004570',
 '237037570',
 '237056570',
 '237066070',
 '237510075',
 '237533775',
 '237541075',
 '237548075',
 '238006080',
 '238010680',
 '238020880',
 '238022280',
 '238029580',
 '238033580',
 '238047080',
 '238065580',
 '238506085',
 '238524085',
 '238533585',
 '238533785',
 '238541585',
 '238548085',
 '238559085',
 '239001090',
 '239004590',
 '239010090',
 '239033590',
 '239034590',
 '239041090',
 '239048090',
 '239056090',
 '239059090',
 '239201092',
 '239241092',
 '239259092',
 '239404594',
 '239404595',
 '239407098',
 '239410095',
 '239410097',
 '239410098',
 '239433500',
 '239441094',
 '239448098',
 '239448099',
 '239448100',
 '239456094',
 '239456095',
 '239459094',
 '239459095',
 '239601096',
 '239601098',
 '239604596',
 '239610097',
 '239630597',
 '239632496',
 '239633596',
 '239648096',
 '239659096'}

In [136]:
len(rare_codes)

844

In [141]:
scripts['rare'] = scripts['bnf_code'].isin(rare_codes)

In [144]:
scripts.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity,opioid,rare
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12,False,False
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30,False,False
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1,False,False
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150,False,False
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6,False,False

Now for each practice, calculate the proportion of costs that originate from prescription of rare treatments (i.e. rare `'bnf_code'`). Use the `'act_cost'` field for this calculation.

In [150]:
rare_cost_prop = (scripts[scripts['rare']].groupby('practice')['act_cost'].sum() / scripts.groupby('practice')['act_cost'].sum()).fillna(0)

In [151]:
rare_cost_prop

practice
A81005    0.012017
A81007    0.008381
A81011    0.005116
A81012    0.013747
A81017    0.007359
            ...
Y05570    0.000000
Y05583    0.000000
Y05597    0.000000
Y05660    0.000323
Y05670    0.000000
Name: act_cost, Length: 856, dtype: float64

Now we will calculate a z-score for each practice based on this proportion.
First take the difference of `rare_cost_prop` and the proportion of costs originating from rare treatments across all practices.

In [154]:
relative_rare_cost_prop = rare_cost_prop\
              - scripts[scripts['rare']]['act_cost'].sum() / scripts['act_cost'].sum()

In [155]:
relative_rare_cost_prop

practice
A81005   -0.003946
A81007   -0.007582
A81011   -0.010847
A81012   -0.002216
A81017   -0.008604
            ...
Y05570   -0.015963
Y05583   -0.015963
Y05597   -0.015963
Y05660   -0.015640
Y05670   -0.015963
Name: act_cost, Length: 856, dtype: float64

Now we will estimate the standard errors (i.e. the denominator of the z-score) by simply taking the standard deviation of this difference.

In [156]:
standard_errors = relative_rare_cost_prop.std()

In [157]:
standard_errors

0.06050888706745139

Finally compute the z-scores. Return the practices with the top 100 z-scores in the form `(practice_code, practice_name, z-score)`. Note that some practice codes will correspond with multiple names. In this case, use the first match when sorting names alphabetically.

In [162]:
rare_scores = (relative_rare_cost_prop / standard_errors).reset_index().rename(columns={'act_cost':'z-score'})

In [163]:
rare_scores

    practice   z-score
0     A81005 -0.065216
1     A81007 -0.125308
2     A81011 -0.179263
3     A81012 -0.036615
4     A81017 -0.142190
..       ...       ...
851   Y05570 -0.263811
852   Y05583 -0.263811
853   Y05597 -0.263811
854   Y05660 -0.258473
855   Y05670 -0.263811

[856 rows x 2 columns]

In [171]:
rare_scores = rare_scores.merge( unique_practices_by_name, left_on='practice', right_on='code', how='left')[['code', 'name', 'z-score']].sort_values('z-score', ascending=False)

In [172]:
rare_scores.head()

       code                               name    z-score
765  Y03472           CONSULTANT DIABETES TEAM  16.262687
831  Y05320     DMC COMMUNITY DERMATOLOGY RBWF  15.128648
793  Y04404  OUTPATIENTS JUBILEE HEALTH CENTRE   7.542139
766  Y03484   DMC COMMUNITY DERMATOLOGY CLINIC   7.287222
794  Y04424                     DMC HEALTHCARE   6.838614

In [ ]:
#rare_scripts = [("Y03472", "CONSULTANT DIABETES TEAM", 16.2626871247)] * 100

In [174]:
rare_scripts = [item[1:] for item in rare_scores.itertuples()][:100]

In [ ]:
rare_scripts[:10]

In [ ]:
grader.score.dw__rare_scripts(rare_scripts)

*Copyright &copy; 2021 WorldQuant University. This content is licensed solely for personal use. Redistribution or publication of this material is strictly prohibited.*